	<section class="page-header">
		<div class="page-body page-body-bg1 overlay">
		<h2>業務内容</h2>
		</div>
	</section>

	<section class="text-area">
		<div class="container">
			<h3 class="text-heading text-center">不動産再生事業</h3>
			<p class="text text-small">
				フジキ建設では、老地化した建物をまるで新築のような内装に生まれ変わらせる不動産再生事業を手掛けております。<br>
				『まるで新築のような内装』『広いキッチンのお部屋』などなど、フジキ建設では様々なニーズやお客様のよりそった<br>ご提案をいたします。
			</p>
		</div>
	</section>

	<section class="flow-area">
	<h3 class="text-heading text-center">事業フロー</h3>
		<div class="progressbar">
		<div class="progress" id="progress"></div>
		<div class="progress-step title--1" data-title="物件売買登録"></div>
		<div class="progress-step title--2" data-title="施工登録"></div>
		<div class="progress-step title--3" data-title="物件販売登録"></div>
		<div class="progress-step title--4" data-title="ご契約登録"></div>
		</div>
	</section>


	<section class="tgallery-area mt-large">
		<div class="container">
		<div class="container">
			<h3 class="text-heading text-center">施工事例</h3>
			<h3 class="text-heading text-center border-bottom-3x pt-medium text-dangers">ガーテ大宮</h3>
		<ul class="gallery">
		<li><img src="/images/gallery-01.jpg"></li>
		<li><img src="/images/gallery-02.jpg"></li>
		<li><img src="/images/gallery-03.jpg"></li>
		<li><img src="/images/gallery-04.jpg"></li>
	</ul>
	<ul class="choice-btn">
		<li><img src="/images/gallery-01.jpg"></li>
		<li><img src="/images/gallery-02.jpg"></li>
		<li><img src="/images/gallery-03.jpg"></li>
		<li><img src="/images/gallery-04.jpg"></li>
     </ul>
		</div>
		<div class="section-title section-title-x2 text-center mt-large">
        <a href="/property.html" class="primary-btn u-has-display-block">物件情報詳しく見る </a>
		</div>
		<h3 class="text-heading text-center pt-medium text-black">フルリノベーション・リフォームから、<br>交換作業などの小さな作業まであらゆるご要望に対応いたします！</h3>
		<p class="text text-small"> フジキ建設は、住宅に関わるあらゆる工事に対応いたします。フルリノベーションなどの大規模な工事から<br>交換作業などの小さな作業まで、フジキ建設にお任せください！</p>
		</div>
	</section>


	<div data-aos="fade-up" class="section-top-border mt-100">
		<div class="container">
			<h3 class="text-heading text-center">対応工事</h3>
			<div class="row gallery-item">
				<div class="col-md-4">
					<figure>
						<a class="single-gallery-image" href="/images/gallery01.jpg" data-rel="lightcase:group2"><span
								class="photo-ofi"><img src="/images/gallery01.jpg" class="img-fluid"
									alt="施工事例"></span></a>
					</figure>
					<div class="col-md-14 mt-sm-30 typo-sec">
						<div class="text-center text-large ">
							<ul class="unordered-list">
								<li class="text-small blue">フルリノベーション工事
                                </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<figure>
						<a class="single-gallery-image" href="/images/gallery02.jpg" data-rel="lightcase:group2"><span
								class="photo-ofi"><img src="/images/gallery02.jpg" class="img-fluid"
									alt="施工事例"></span></a>
					</figure>
					<div class="col-md-14 mt-sm-30 typo-sec">
						<div class="text-center text-large ">
							<ul class="unordered-list">
								<li class="text-small blue">クロス張り替え工事
                                </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<figure>
						<a class="single-gallery-image" href="/images/gallery03.jpg" data-rel="lightcase:group2"><span
								class="photo-ofi"><img src="/images/gallery03.jpg" class="img-fluid"
									alt="施工事例"></span></a>
					</figure>
					<div class="col-md-14 mt-sm-30 typo-sec">
						<div class="text-center text-large">
							<ul class="unordered-list">
								<li class="text-small blue">床工事
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 mt-medium">
					<figure>
						<a class="single-gallery-image" href="/images/gallery04.jpg" data-rel="lightcase:group2"><span
								class="photo-ofi"><img src="/images/gallery04.jpg" class="img-fluid"
									alt="施工事例"></span></a>
					</figure>
					<div class="col-md-14 mt-sm-30 typo-sec">
						<div class="text-center text-large">
							<ul class="unordered-list">
								<li class="text-small blue">現状回復工事
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 mt-medium">
					<figure>
						<a class="single-gallery-image" href="/images/gallery05.jpg" data-rel="lightcase:group2"><span
								class="photo-ofi"><img src="/images/gallery05.jpg" class="img-fluid"
									alt="施工事例"></span></a>
					</figure>
					<div class="col-md-14 mt-sm-30 typo-sec">
						<div class="text-center text-large">
							<ul class="unordered-list">
								<li class="text-small blue">住宅設備工事
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 mt-medium">
					<figure>
						<a class="single-gallery-image" href="/images/gallery06.jpg" data-rel="lightcase:group2"><span
								class="photo-ofi"><img src="/images/gallery06.jpg" class="img-fluid"
									alt="施工事例"></span></a>
					</figure>
					<div class="col-md-14 mt-sm-30 typo-sec">
						<div class="text-center text-large">
							<ul class="unordered-list">
								<li class="text-small blue">屋上防水/外壁塗装工事
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<h3 class="text-heading text-center pt-medium text-black">他にも住宅に関する細かな作業もフジキ建設は対応いたします！</h3>
		</div>
	</div>


	<div data-aos="fade-up" class="section-top-border">
		<div class="container">
			<h3 class="text-heading text-center">対応作業一例</h3>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="col-item">
						<figure>
							<div class="col-pic-sub set-bg" data-setbg="/images/pic-1.jpg" alt="電球交換"
								style="background-image: url(&quot;/images/pic-1.jpg&quot;);">
								<span>電球交換</span>
							</div>
						</figure>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="col-item">
						<div class="col-pic-sub set-bg" data-setbg="/images/pic-2.jpg" alt="エアコンクリーニング"
							style="background-image: url(&quot;/images/pic-2.jpg&quot;);">
							<span>エアコンクリーニング</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="col-item">
						<div class="col-pic-sub set-bg" data-setbg="/images/pic-3.jpg" alt="水回り修理"
							style="background-image: url(&quot;/images/pic-3.jpg&quot;);">
							<span>水回り修理</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="col-item">
						<div class="col-pic-sub set-bg" data-setbg="/images/pic-4.jpg" alt="納戸交換"
							style="background-image: url(&quot;/images/pic-4.jpg&quot;);">
							<span>納戸交換</span>
						</div>
					</div>
				</div>
			</div>
			<h3 class="text-heading text-center text-black">住宅に関するあらゆる悩みはフジキ建設にお任せください！</h3>
		</div>
	</div>


	<section class="point-area">
		<div class="container">
			<h3 class="text-heading text-center">注文住宅</h3>
			<p class="text text-small">
				フジキ建設はお客様のあらゆるご要望を叶える『生活に寄り添った住宅』をご提案致します。
			</p>
			<h3 class="text-heading text-center border-bottom-3x pt-large text-dangers">フジキ建設の注文住宅の特徴</h3>
			<ul class="point-list">
			<li class="pt-small"><span>POINT 01　『完全自社施工』だからこそ責任をもって施工いたします。</span>
			フジキ建設の注文住宅は全て自社にて施工を手掛けています。<br>
			管理から施工まで全てフジキ建設にて対応いたしますので、お客様のご要望をよりダイレクトに現場へ反映させることが可能です。<br>
			お客様の大切な住まいだからこそ、フジキ建設は責任をもって施工いたします。
			<li class="pt-small pb-small"><span>POINT 02　お客様によりそった快適な住宅</span>
			『三世帯でも快適で住みやすい住宅が欲しい』『夏や冬でも快適な断熱性の優れた住宅で暮らしたい』『外壁塗装の寿命が長いメンテナンスフリー住宅に住んでみたい』など様々なご要望も、フジキ建設にお任せください。</li>
			</ul>
		</div>
	</section>

	<section class="section-body4 section-gap">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-12">
					<div class="section-title text-center">
						<h3 class="text-transform">お問い合わせ</h3>
						<p class="text line-height-2"> 株式会社フジキ建設のホームページにご来訪いただきありがとうございます。<br>弊社へのお問い合わせにつきましては下記よりご連絡いただきますようお願いいたします。</p>
					</div>
					<div class="row align-items-stretch mt-large">
                        <div class="section-title text-left col-lg-6 col-md-12 align-items-center">
                            <div class="btn-left -bold">
							<div class="btn-title">お電話でのお問い合わせ</div>
							<div class="btn-body">
							<span class="tel-text"><i class="fas fa-phone"></i>048-946-7275</span>
							<span class="u-has-display-block line-height-2">お問い合わせ時間：平日9：00～17：00<br>定休日：土曜・日曜･祝祭日</span>
							</div>
							</div>
                        </div>
						
                        <div class="col-lg-6 col-md-12">
                            <a href=""#>
							<div class="section-title">
							 <div class="btn-right">
							<div class="btn-body -bold"><i class="fas fa-envelope"></i>メールでのお問い合わせ</div></div>
                            </div></a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</section>