@charset "UTF-8";

.btn-left {
  height: 100%;
  @include mq("xsm") {
    padding: 10% 0;
  }
  @include mq("lg") {
    height: 250px;
  }
  color: $color-white;
  background: var(--color-primary);

  .btn-title {
    max-width: 535px;
    padding-bottom: 2rem;
    margin: auto;
    text-align: center;
    @include font-size(24);
  }

  .btn-body {
    max-width: 535px;
    margin: auto;
    text-align: center;

    >.tel-text{
      @include mq("xsm") {
        @include font-size(35);
      }
      padding-right: 4rem;
      font-weight: bold;
      @include mq("md") {
        @include font-size(45);
      }
    }
  }

  span {
    font-weight: normal;
    text-align: center;
    @include font-size(16);
  }

  .fa-phone {
    @include font-size(32);
    padding: 1rem;
  }
}

.btn-right {
  @include mq("xsm") {
    padding: 5% 0;
    @include font-size(24);
  }
  display: grid;
  align-items: center;
  justify-items: center;
  height: 250px;
  padding: 5%;
  color: $color-white;
  background: var(--color-danger);
  @include font-size(34);

  .fa-envelope {
    @include font-size(32);
    padding: 1rem;
  }
}

.header-tel{
  margin: 1rem;
  @include mq("lg") {
    @include font-size(26);
  }

  .fa-phone {
    padding: 1rem;
  }
}

.header-mail{
  @include mq("xsm") {
    @include font-size(16);
    padding: 3%;
  }
  @include mq("md") {
    @include font-size(16);
    padding: 1% 1.5%;
  }

  color: $color-white;
  background: var(--color-danger);

  .fa-envelope {
    padding: 1rem;
  }
}