@charset "UTF-8";

.c-error-message {
  /*   display: none; */
  padding: 2rem 1rem;
  color: var(--red);
  text-align: left;
  background: var(--error-bg);
  border-radius: .25rem;
  @include font-size(14);
  /*   margin-top: 2rem;
  margin-bottom: 4rem; */
}



.c-form-control-error {
  color: var(--red);
  text-align: left;
  /*   margin-bottom: 1rem;
  margin-left: 15px; */
  background: var(--error-bg);
  border: 1px solid var(--red);
  @include font-size(16);
}

.c-error-text {
  /*   display: none; */
  padding-top: .5rem;
  color: var(--red);
  text-align: left;
  @include font-size(12);
}

.c-file + label.c-error-file {
  /*   display: none; */
  padding-top: .5rem;
  color: var(--red);
}

.c-file-error-text {
  width: 30rem;
  padding-top: .5rem;
  padding-left: 3.5rem;
  margin: auto;
  color: var(--red);
  text-align: left;
  @include font-size(12);
}

.c-tablefile-error-text {
  width: 100%;
  max-width: 30rem;
  padding-top: .5rem;
  margin: initial;
  color: var(--red);
  @include font-size(12);
}
