@charset "UTF-8";
$color1: #f4f4f4;
$color2: #3197ee;

.radio-group {
  width: 250px
;
  /*   margin: 0.5rem; */

  input[ type = "radio" ] {
    position: absolute;
    opacity: 0;

    + .radio-label {
      display: flex;
      align-items: center;

      &::before {
        position: relative;
        top: 0em;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        margin-right: 1em;
        text-align: center;
        vertical-align: top;
        cursor: pointer;
        content: "";
        border: 1px solid darken($color-white, 25%);
        border-radius: 100%;
        transition: all 250ms ease;
      }
    }

    &:checked {

      + .radio-label {
        z-index: 99;

        &::before {
          background-color: var(--text-black);
          box-shadow: inset 0 0 0 4px $color-white;
        }
      }
    }

    &:focus {

      + .radio-label {

        &::before {
          border-color: var(--text-black);
          outline: none;
        }
      }
    }

    &:disabled {

      + .radio-label {

        &::before {
          background: darken($color-white, 25%);
          border-color: darken($color-white, 25%);
          box-shadow: inset 0 0 0 4px $color-white;
        }
      }
    }

    + .radio-label {
      padding-bottom: .3rem;
      margin-bottom: 0;

      &:empty {

        &::before {
          margin-right: 0;
        }
      }
    }
  }
}

.form-group{

  .align-self-xl-start {
    align-items: flex-start;
  }
}
