<form method="post" class="form formrun" data-persist="garlic" action="/">
<div class="c-error-message mt-small mb-medium">入力内容に誤りがあります。修正箇所をご確認ください。</div>
    <div class="c-subtitle has-background-secondary mt-small mb-small">
        <span class="c-subtitle u-has-inline-block">連絡先情報</span>
    </div>

    <div class="p-new-registration__wrapper">
        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 form-control-label col-274 col-form-label">会社名</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="c-form-control-error form-control u-width450"" placeholder="例）株式会社◯◯◯◯◯◯"
                        name="技術名称" value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>

        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 form-control-label col-274 col-form-label">所在地</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="p-row-2">
                    <div class="p-row-2__col-1">
                        <span>&#12306;</span><input type="number" class="form-control" placeholder="例）12345" name="所在地" value="">
                    </div>
                    <div class="p-row-2__col-2 m-small-xsm">
                        <input type="text" class="form-control u-width450" placeholder="例）東京都◯◯◯◯◯◯" name="所在地"
                            value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">担当部署</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="form-control u-width450" placeholder="例）営業課"
                        name="担当部署" value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>

        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">担当者</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="form-control u-width450" placeholder="例）氏名 太郎"
                        name="担当者" value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>

        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">E-mail</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="form-control u-width450" placeholder="例）esp.com-masui@vesta.ocn.ne.jp" name="技術の要約" value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>
        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">TEL</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="form-control u-width450" placeholder="例）000－000－000"
                        name="技術の要約" value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>
        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">FAX</label>
                <span class="-moz-mt20 c-no-check u-has-display-block m-small-right">任意</span>
                <div class="col-634">
                    <input type="text" class="form-control u-width450" placeholder="例）000－000－000"
                        name="技術の要約" value="">
                </div>
            </div>
        </div>
        <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">URL</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="form-control u-width450" placeholder="例）www.to-suicon.jp/" name="技術の要約" value="">
                        <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>

        <div class="c-subtitle has-background-secondary mt-small mb-small">
            <span class="c-subtitle u-has-inline-block">その他の情報</span>
        </div>

        <div class="p-new-registration__wrapper">
            <div class="form-group grid-layout--274-634">
                <div class="p-new-registration__iteme--3 -moz-align-items-start align-items-baseline">
                    <label class="-moz-mt12 col-274 col-form-label">積算の参考情報<br>（単価・歩掛等）</label>
                    <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                    <div class="col-634">
                        <div class="form-group p-textarea--5">
                            <textarea class="form-control u-textarea"
                                placeholder="1）　ｍ2当たり積算2）　ｍ3当たり積算　　　＊現場状況により使い分けが必要となります。詳細につきましては、上記の連絡先までご相談ください。"
                                name="お問い合わせ5" value="""
                                data-formrun-class-if-error="form-control-danger"></textarea>
                            <div class="c-error-text">※文字数が上限に達しています。</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group grid-layout--274-634">
                <div class="p-new-registration__iteme--3 -moz-align-items-start">
                    <label class="-moz-mt20 col-274 col-form-label">サポート体制</label>
                    <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                    <div class="col-634">
                        <input type="text" class="form-control" placeholder="例）上記の連絡先までご相談ください。" name="サポート体制" value="">
                       <div class="c-error-text">※入力に誤りがあります。</div>
                    </div>
                </div>
            </div>

            <% var ary=['特許', '実用新案' ]; %>
                <% ary.forEach(function (value, key) { %>
                    <div class="form-group grid-layout--274-634">
                        <div class="p-new-registration__iteme--radio align-items-baseline">
                            <label class="col-274 col-form-label">
                                <%= value %>
                            </label>
                            <span class="c-check u-has-display-block m-small-right">必須</span>
                            <div class="col-634">
                                <div class="input-group pradio-layout">
                                    <div class="custom-control custom-radio custom-control-inline -bold"><input
                                            type="radio" id="pradio" name="登録有"
                                            class="custom-control-input"><label
                                            class="custom-control-label u-label-p-none" for="pradio">登録有</label>
                                    </div>
                                </div>
                                <div class="p-number-list">
                                    <ol>
                                        <li>1：登録番号<span>第</span><input type="number"
                                                class="form-control" placeholder="例）000" name="登録番号"
                                                value="">号</li>
                                        <li>2：登録番号<span>第</span><input type="number"
                                                class="form-control" placeholder="例）000" name="登録番号"
                                                value="">号<button
                                                class="btn-delete p-delete m-small-left"><i class="circle-ph-x ph-x"></i></button>
                                        </li>
                                        <li>2：登録番号<span>第</span><input type="number"
                                                class="form-control" placeholder="例）000" name="登録番号"
                                                value="">号<button
                                                class="btn-delete p-delete m-small-left"><i class="circle-ph-x ph-x"></i></button>
                                        </li>
                                    </ol>
                                </div>

                                <div class="btns-group">
                                    <button
                                        class="btn-add genric-btn p-add-btn mt-small mb-small u-has-display-block"><i
                                            class="btn-ph-plus ph-plus"></i>さらに追加する</button>
                                </div>
                                <div class="input-group pradio-layout">
                                    <div class="mb-small-xsm custom-control custom-radio custom-control-inline -bold"><input
                                            type="radio" id="pradio2" name="申請中"
                                            class="custom-control-input"><label
                                            class="custom-control-label u-label-p-none" for="pradio2">申請中</label>
                                    </div>
                                    <div class="mb-small-xsm custom-control custom-radio custom-control-inline -bold"><input
                                            type="radio" id="pradio3" name="申請予定"
                                            class="custom-control-input"><label
                                            class="custom-control-label u-label-p-none" for="pradio3">申請予定</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline -bold"><input
                                            type="radio" id="pradio4" name="無"
                                            class="custom-control-input"><label
                                            class="custom-control-label u-label-p-none" for="pradio4">無</label>
                                    </div>
                                </div>
                                <%#pradio-layout %>
                            </div>
                        </div>
                    </div>
                    <% }); %>

                        <div class="form-group grid-layout--274-634">
                            <div class="p-new-registration__iteme--3column align-items-start">
                                <div class="p-form-title -bold">他機関の認証制度への登録<br>（最大3件）</div>
                                <div class="m-small-right "><span class="c-check u-has-display-block m-small">必須</span></div>
                            <div class="p-confirm--3column -moz-align-items-start">
                        <% for (var i = 0; i < 3; i++) { %>
                                <div class="p-form-input"><input type="text" class="form-control"
                                        id="inputtext3" placeholder="例）NETIS(国土交通省新技術情報提供システム)" name="登録番号" value="">
                                <div class="c-error-text">※入力に誤りがあります。</div>
                                </div>
                                <div class="p-form-text m-small">登録番号</div>
                                <div class="p-form-number"><input type="text" class="form-control"
                                        id="inputtext3" placeholder="例）0000" name="登録番号" value="">
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
        </div>
        <%# wrapper--1360 %>

            <div class="c-subtitle has-background-secondary mt-small mb-small">
                <span class="c-subtitle u-has-inline-block">検索キーワード</span>
            </div>

                <% var arys=['目標・効果', '技術区分' ]; %>
                <% arys.forEach(function (value, key) { %>
            <div class="form-group grid-layout--274-634">
                <div class="p-new-registration__iteme--3">
                    <label class="col-274 col-form-label"><%= value %></label>
                    <span class="c-no-check u-has-display-block m-small-right">任意</span>
                    <div class="col-634 u-flex pb-xsm align-items-center">
                        <span class="m-small">1.</span>
                        <div class="p-select-number select-number-icon p-tree-icon--1">
                            <select class="form-control is-empty" name="目標・効果">
                                <option value="">選択ください</option>
                                <option value="0">2</option>
                                <option value="1">3</option>
                                <option value="2">4</option>
                                <option value="3">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="p-new-registration__iteme--3">
                    <label class="col-274 col-form-label"></label>
                    <span class="c-no-check u-has-display-block m-small-right">任意</span>
                    <div class="col-634 u-flex pb-xsm pb-xsm align-items-center">
                        <span class="m-small">2.</span>
                        <div class="p-select-number select-number-icon p-tree-icon--1">
                            <select class="form-control is-empty" name="目標・効果">
                                <option value="">選択ください</option>
                                <option value="0">2</option>
                                <option value="1">3</option>
                                <option value="2">4</option>
                                <option value="3">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="p-new-registration__iteme--3">
                    <label for="select" class="col-274 col-form-label"></label>
                    <span class="c-no-check u-has-display-block m-small-right">任意</span>
                    <div class="col-634 u-flex align-items-center">
                        <span class="m-small">3.</span>
                        <div class="p-select-number select-number-icon p-tree-icon--1">
                            <select class="form-control is-empty" name="目標・効果">
                                <option value="">選択ください</option>
                                <option value="0">2</option>
                                <option value="1">3</option>
                                <option value="2">4</option>
                                <option value="3">5</option>
                            </select>
                        </div>
                    </div>
                </div>               
            </div>
             <% }); %>

<div class="form-group grid-layout--274-634">
    <div class="p-new-registration__iteme--5">
        <label class="col-274 col-form-label">自由入力<br>※単語間を「、」で区切る</label>
        <span class="c-no-check u-has-display-block m-small-right">任意</span>
        <div class="col-634">
            <div class="form-group p-textarea--6">
                <textarea class="form-control" placeholder="石積み、ブロック積み、石垣、河川護岸、海岸護岸、防波堤、空洞、空隙、沈下、補強" name="自由入力" value=""></textarea>
            </div>
        </div>
    </div>
</div>
</div>
    <%# wrapper--1360 %>
            <div class="mt-small">
                <div class="btns-group">
                    <button type="submit"
                        class="c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block"
                        data-formrun-default-text="戻る "><i class="btn-ph-caret-left ph-caret-left"></i>戻る </button>
                    <button type="submit" class="genric-btn p-genric-btn--primary mt-small u-has-display-block">次へ<i
                            class="btn-ph-caret-right ph-caret-right"></i>
                    </button>
                </div>
                <button type="submit"
                    class="c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block">ここまでを保存する
                </button>
            </div>
            <%# mt-small %>
</form>