<form method="post" action="/">
    <div class="c-subtitle has-background-secondary mt-small mb-small">
        <span class="c-subtitle u-has-inline-block">技術情報詳細</span>
    </div>

    <div class="p-new-registration">
        <div class="p-new-registration__wrapper">

            <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--1">
                <div class="col-274 col-form-label">登録番号</div>
                <div class="col-634"> 1290</div>
            </div>
        </div>
 

            <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--1">
                <div class="col-274 col-form-label">申請日</div>
                <div class="col-634">
                    2021/9/1
                </div>
            </div>
        </div>

            <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--2">
                <label class="col-274 col-form-label">開発年</label>
                <span class="c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="number" class="form-control u-display-inline" placeholder="2021" name="開発年" value="">
                        <span class="u-has-inline-block m-small-left-custom">件</span>
   
                </div>
            </div>
        </div>

            <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 form-control-label col-274 col-form-label">技術名称</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="c-form-control-error form-control u-width450" placeholder="例）◯◯◯◯◯◯◯工法" name="技術名称"
                        value="" data>
                    <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>
           <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">登録会社名</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="u-width450 form-control" placeholder="例）株式会社◯◯◯◯◯◯" name="登録会社名"
                        value="">
                    <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>
            <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">開発会社名</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="u-width450 form-control" placeholder="例）株式会社◯◯◯◯◯◯" name="開発会社名"
                        value="">
                    <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>
            <div class="form-group grid-layout--274-634">
            <div class="p-new-registration__iteme--3 -moz-align-items-start">
                <label class="-moz-mt20 col-274 col-form-label">技術の要約</label>
                <span class="-moz-mt20 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <input type="text" class="form-control col-max" placeholder="例）老朽化による◯◯◯◯◯に◯◯◯◯◯を用いた◯◯◯◯◯工法。" name="技術の要約" value="">
                    <div class="c-error-text">※入力に誤りがあります。</div>
                </div>
            </div>
        </div>
        </div>
        <div class="p-new-registration__wrapper">
            <div class="form-group select-layout--274-634">
            <div class="p-new-registration__iteme--4">
                <div class="col-274"><label for="exampleFormControlSelect1" class="col-form-label">登録分野</label>
                </div>
                <span class="c-check u-has-display-block m-small-right">必須</span>
                <div class="p-select-body u-body-flex u-border-bottom-solid">
                    <span class="p-select-body-sub--text u-has-inline-block">メイン登録</span>
                    <div class="col-634">
                        <div class="select-icon--1">
                            <select class="c-form-control-error form-control is-empty" name="メイン登録">
                                <option value="">選択ください</option>
                                <option value="01_土木工事（施設別）">2</option>
                                <option value="01_土木工事（施設別）">3</option>
                                <option value="01_土木工事（施設別）">4</option>
                                <option value="01_土木工事（施設別）">5</option>
                            </select>
                            <div class="c-error-text">※必須項目のため選択してください。</div>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                            <select class="form-control is-empty" name="メイン登録2">
                                <option value="">選択ください</option>
                                <option value="01_土木工事（施設別）">2</option>
                                <option value="01_土木工事（施設別）">3</option>
                                <option value="01_土木工事（施設別）">4</option>
                                <option value="01_土木工事（施設別）">5</option>
                            </select>
                        </div>
                        <div class="select-icon--3 p-tree-icon--2">
                            <select class="form-control is-empty" name="メイン登録3">
                                <option value="">選択ください</option>
                                <option value="01_土木工事（施設別）">2</option>
                                <option value="01_土木工事（施設別）">3</option>
                                <option value="01_土木工事（施設別）">4</option>
                                <option value="01_土木工事（施設別）">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% var ary = ['サブ登録 1', 'サブ登録 2']; %>
<% ary.forEach(function (value, key) { %>
            <div class="form-group select-layout--274-634">
                     <div class="p-new-registration__iteme--4">
                <div class="col-274"><label class="col-form-label"></label>
                </div>
                <span class="c-check u-has-display-block u-hidden">必須</span>
                <div class="p-select-body u-body-flex u-border-bottom-solid">
                    <span class="p-select-body-sub--text u-has-inline-block"><%= value %></span>
                    <div class="col-634">
                        <div class="select-icon--1">
                            <select class="form-control is-empty">
                                <option value="" selected>選択ください</option>
                                <option value="">01_土木工事（施設別）</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                            <select class="form-control is-empty">
                                <option value="" selected>選択ください</option>
                                <option value="">01_土木工事（施設別）</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="select-icon--3 p-tree-icon--2">
                            <select class="form-control p-tree--2 is-empty">
                                <option value="" selected>選択ください</option>
                                <option value="">01_土木工事（施設別）</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% }); %>
<div class="form-group select-layout--274-634">
                     <div class="p-new-registration__iteme--4">
                <div class="col-274"><label class="col-form-label"></label>
                </div>
                <span class="c-check u-has-display-block u-hidden">必須</span>
                <div class="p-select-body u-body-flex">
                    <span class="p-select-body-sub--text u-has-inline-block">サブ登録 3</span>
                    <div class="col-634">
                        <div class="select-icon--1">
                            <select class="form-control is-empty">
                                <option value="" selected>選択ください</option>
                                <option value="">01_土木工事（施設別）</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                            <select class="form-control is-empty">
                                <option value="" selected>選択ください</option>
                                <option value="">01_土木工事（施設別）</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                        <div class="select-icon--3 p-tree-icon--2">
                            <select class="form-control p-tree--2 is-empty">
                                <option value="" selected>選択ください</option>
                                <option value="">01_土木工事（施設別）</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-new-registration__wrapper">
            <div class="form-group grid-layout--274-634 u-border-top-dashed">
                     <div class="p-new-registration__iteme--5 -moz-align-items-start">
                <label class="-moz-mt12 col-274 col-form-label">技術の要約</label>
                <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <div class="form-group p-textarea--1">
                        <textarea class="c-form-control-error form-control"
                            placeholder="例）老朽化による既設変状構造物の空隙・空洞・箇所に、現地にて配合したト－スイＣＯＮ（透水コンクリ－ト）を圧送充填することにより充填材がフィルタ－効果を発揮し背面水のみ排出し、土砂・捨石等の吸出し防止及び波圧時による水圧を低減させ洗掘抑制が可能になり、構造物の崩壊・沈下・倒壊を抑制します。"
                             name="お問い合わせ" value=""></textarea>
                         <div class="c-error-text">※文字数が上限に達しています。</div>   
                    </div>
                </div>
            </div>
        </div>

            <div class="form-group grid-layout--274-634">
                     <div class="p-new-registration__iteme--5 -moz-align-items-start">
                <label class="-moz-mt12 col-274 col-form-label">開発の趣旨・目的</label>
                <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <div class="form-group p-textarea--2">
                        <textarea class="form-control"
                            placeholder="例）従来の充填工では、セメント系充填材を使用し既設変状構造物の開口・空洞箇所を閉塞することで損傷箇所に接着効果をもたらし、水抜きパイプ等により背面水を排出して維持保全を保っていましたが、経年により目詰まりが発生しパイピング現象が見受けられた。また、石積み前面にもたれ式擁壁、ブロック積工新設などが施されおりましたが、過大な仮設工を要したり重機災害・騒音災害・交通規制などの問題が生じていました。本工法では施工箇所より200ｍ以内にプラント（2.0ｍ＊5.0ｍ）を設置し圧送ホ－ス延伸による人力作業の充填施工が出来るため、仮設工等が不要となり近隣住民への施工環境が軽減できます。" name="お問い合わせ2" value=""></textarea>
                         <div class="c-error-text">※文字数が上限に達しています。</div> 
                    </div>
                </div>
            </div>
         </div>


            <div class="form-group grid-layout--274-634">
                     <div class="p-new-registration__iteme--5 -moz-align-items-start">
                <label class="-moz-mt12 col-274 col-form-label">適用範囲（適用条件）</label>
                <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <div class="form-group p-textarea--3">
                        <textarea class="form-control"
                            placeholder="1）摘要現場・海岸護岸、防波堤などの洗掘による石積み沈下。・河川護岸の既設構造物（ブロック積み・石積み）空隙、空洞箇所。・景観区域での石積み補修、補強。・道路、宅地等の既設構造物（ブロック積み・石積み）空隙、空洞箇所。・天然記念物（樹木）の環境保全。2）適用条件・気温５℃以下５℃以上での施工は避ける。・著しい腹み出し及び崩壊が予測される箇所。・流速３ｍ/秒以内は施工可能。上記以上の流速については、仮設工が必要。こちらにお問い合わせ内容を入力してください。" name="お問い合わせ3" value=""></textarea>
                         <div class="c-error-text">※文字数が上限に達しています。</div> 
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group grid-layout--274-634">
                     <div class="p-new-registration__iteme--5 -moz-align-items-start">
                <label class="-moz-mt12 col-274 col-form-label">構造・材料諸元／製品仕様</label>
                <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <div class="form-group p-textarea--4">
                        <textarea class="form-control"
                            placeholder="【トースイＣＯＮ設計配合】・ポルトランドセメント（普通）３００ｋｇ・粗骨材（７号砕石）１，４５０ｋｇ・混和剤（透水コンクリ－ト凝固剤）３０ℓ・混和剤（水中不分離剤）２．５ｋｇ・混和剤（急結剤）２６ℓ" name="お問い合わせ4" value=""></textarea>
                         <div class="c-error-text">※文字数が上限に達しています。</div> 
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group grid-layout--274-634">
                     <div class="p-new-registration__iteme--5 -moz-align-items-start">
                <label class="-moz-mt12 col-274 col-form-label">特徴（メリット）</label>
                <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <div class="form-group p-textarea--5">
                        <textarea class="form-control" placeholder="・◯◯◯◯◯が可能です。・◯◯◯◯◯が保たれます。・◯◯◯◯◯が減少できます。" name="お問い合わせ5" value=""></textarea>
                         <div class="c-error-text">※文字数が上限に達しています。</div> 
                    </div>
                </div>
            </div>
         </div>
            <div class="form-group grid-layout--274-634">
                     <div class="p-new-registration__iteme--5 -moz-align-items-start">
                <label class="-moz-mt12 col-274 col-form-label">特徴（デメリット）</label>
                <span class="-moz-mt12 c-check u-has-display-block m-small-right">必須</span>
                <div class="col-634">
                    <div class="form-group p-textarea--6">
                        <textarea class="form-control" placeholder="・◯◯◯◯◯が可能です。・◯◯◯◯◯が保たれます。・◯◯◯◯◯が減少できます。" name="お問い合わせ6" value=""></textarea>
                         <div class="c-error-text">※文字数が上限に達しています。</div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="c-lead mt-small">
            <button type="submit" class="genric-btn p-genric-btn--primary mt-small u-has-display-block">次へ<i
                    class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
        <div class="c-lead mt-medium">
            <button type="submit" disabled
                class="js-button c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block">ここまでを保存する
            </button>
        </div>
    </div>
</form>