<form method="post" class="form formrun" data-persist="garlic" action="/">
    <div class="c-subtitle has-background-secondary mt-small mb-small">
        <span class="c-subtitle u-has-inline-block">図表・写真</span>
    </div>

    <table class="form-table-uploaded">
        <thead>
            <tr class="thead-uploaded-table">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < 5; i++) { %>
                <tr>
                    <td>
                        <div class="col-12">
                            図表・写真
                            <span class="c-check u-has-inline-block m-small">必須</span>
                        </div>
                    </td>
                    <td>
                        <div class="custom-file">
                            <input type="file" id="file[1]" name="video" class="custom-file-input c-file js-file">
                            <label class="custom-file-label" for="fileUploader" data-browse="ファイルを参照する">
                                未選択　※◯MBまで
                            </label>
                        </div>
                    </td>
                    <td>
                        <div><button class="btn-delete p-delete"><i class="circle-ph-x ph-x"></i></div></button>
                    </td>
                    <td>
                        <div class="c-fileBtn">
                            <label for="file[1]">PNG/JPEGを選択</label>
                        </div>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>


    <button class="btn-add genric-btn p-add-btn mt-small mb-small u-has-display-block"><i
            class="btn-ph-plus ph-plus"></i>さらに追加する</button>


    <div class="c-subtitle has-background-secondary mt-small mb-small">
        <span class="c-subtitle u-has-inline-block">添付資料</span>
    </div>

        <% const array=['発表文献（最大5件）', '実績報文（最大5件）' , 'カタログ・パンフレット（最大3件）' , '単価・歩掛等（最大3件）' ]; %>
        <% array.forEach(function (value) { %>
    <div class="l-panel-table border-panel-secondary">
                <ul class="p-table-accordion">
                    <li>
                        <div class="c-panel-title u-registration-text js-primary--panel plus js-table--open">
                            <%= value %><span class="c-no-check u-has-inline-block m-small">任意</span>
                        </div>
                        <div class="p-panel table-panel-contents">
                            <table class="p-table-registration mb-small">
                                <thead class="has-background-thead">
                                    <tr class="thead-registration">
                                        <th>発注者</th>
                                        <th>施工年度</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="u-flex u-align-item-center">
                                                <div class="custom-file"><input type="file" id="file[1]" name="0"
                                                        class="custom-file-input c-file js-file"><label
                                                        class="custom-file-label text-left" for="fileUploader"
                                                        data-browse="ファイルを参照する"> 未選択　※◯MBまで </label></div>
                                                <div class="c-fileBtn-mini">
                                                    <label for="file[1]">PDFを選択</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-left" id="inputtext1"
                                                placeholder="例）株式会社◯◯◯◯◯◯" name="技術名称" value="">
                                        </td>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>    
    </div>
 <% }); %>
    <div class="mt-small">
        <div class="btns-group">
            <button type="submit"
                class="c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block"
                data-formrun-default-text="戻る "><i class="btn-ph-caret-left ph-caret-left"></i>戻る </button>
            <button type="submit" class="genric-btn p-genric-btn--primary mt-small u-has-display-block">次へ<i
                    class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
        <button type="submit"
            class="c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block">ここまでを保存する
        </button>
    </div>
    <%# mt-small %>
</form>