
<div class="c-title">
        <h2 class="c-title-h2 mt-medium pb-small">新規登録申請</h2>
</div>

<div class="progressbar">
    <div class="progress" id="progress"></div>
        <div class="progress-step progress-step-active title--1" data-title="技術情報詳細
    登録"></div>
        <div class="progress-step title--2" data-title="採用実績
    登録"></div>
        <div class="progress-step title--3" data-title="連絡先情報・検索ワード
    登録"></div>
        <div class="progress-step title--4" data-title="図表・写真・動画
    登録"></div>
        <div class="progress-step title--5" data-title="入力情報確認"></div>
</div>
