<section class="page-header">
    <div class="page-body page-body-bg2 overlay">
        <h2>不動産情報</h2>
    </div>
</section>

<section class="category-area mt-large mb-large">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-12 archive-xsm pb-medium">
                <div class="section-title section-title-x2 text-center">
                    <a href="/about.html" class="secondary-btn display-flexk">販売中 </a>
                </div>
                <div class="section-title section-title-x2 text-center">
                    <a href="/about.html" class="primary-btn display-flexk">アーカイブ</a>
                </div>
            </div>
            <div class="col-lg-12">
                <h3 class="text-heading border-bottom-3x text-dangers">category</h3>
                <div class="row align-items-stretch">
                    <div class="section-title text-left col-lg-8 col-md-12 align-items-center">
                        <h4 class="text-heading text-primarys">item</h4>


                        <div class="gallery-slider">
                            <div class="gallery-slider__images">
                                <div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/1_360x270.jpg" alt="img1">
                                        </div>
                                    </div>


                                </div>

                                <button class="prev-arrow slick-arrow">
                                </button>
                                <button class="next-arrow slick-arrow">
                                </button>
                            </div>



                            <div class="gallery-slider__thumbnails">
                                <div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/1_360x270.jpg" alt="img1">
                                        </div>
                                    </div>

 
                                </div>

                            </div>


                        </div>

                        <div class="gallery-slider">
                            <div class="gallery-slider__images">
                                <div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/1_360x270.jpg" alt="img1">
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="img-fill"><img src="/images/2_945x708.jpg" alt="img2">
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="img-fill"><img src="/images/3_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/4_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/5_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/6_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/7_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/8_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/9_800x600.jpg" alt="img3"></div>
                                    </div>

                                </div>

                                <button class="prev-arrow slick-arrow">
                                </button>
                                <button class="next-arrow slick-arrow">
                                </button>
                            </div>



                            <div class="gallery-slider__thumbnails">
                                <div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/1_360x270.jpg" alt="img1">
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="img-fill"><img src="/images/2_945x708.jpg" alt="img2">
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="img-fill"><img src="/images/3_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/4_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/5_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/6_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/7_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/8_800x600.jpg" alt="img3"></div>
                                    </div>
                                    <div class="item">
                                        <div class="img-fill"><img src="/images/9_800x600.jpg" alt="img3"></div>
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="pt-medium">
                            <table class="table table-category">
                                <tbody class="category">
                                    <tr>
                                        <th scope="row">物件名</th>
                                        <td>text1</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">間取り</th>
                                        <td>text2</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">販売価格</th>
                                        <td>text3</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">所有面積</th>
                                        <td>text4</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">所在地</th>
                                        <td>text5</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">真築年数</th>
                                        <td>text6</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">項目名称1text</th>
                                        <td>項目内容1text</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">項目名称2text</th>
                                        <td>項目内容2text</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">項目名称3text</th>
                                        <td>項目内容3text</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">項目名称4text</th>
                                        <td>項目内容4text</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">備考</th>
                                        <td>html2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">情報更新日</th>
                                        <td>text7</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="section-title section-title-x2 text-center mt-medium btn_pdf">
                                <a href="/property.html" class="primary-btn display-flex">FILE</a>
                            </div>
                        </div>
                    </div>
                                                
                        <div class="col-lg-4 col-md-12 archive-lg">
                        <div class="section-title section-title-x2 text-center mt-large">
                            <a href="/about.html" class="secondary-btn display-flex">販売中 </a>
                        </div>
                        <div class="section-title section-title-x2 text-center">
                            <a href="/about.html" class="primary-btn display-flex">アーカイブ</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="paging">
        <span class="paging-text"><a rel="prev">&laquo;&nbsp;Prev</a></span>
        <span class="paging-text"><a>1</a></span>
        <span class="paging-text"><a>2</a></span>
        <span class="current paging-text">3</span>
        <span class="paging-text"><a>4</a></span>
        <span class="paging-text"><a>5</a></span>
        <span class="paging-text"><a rel="next">Next&nbsp;&raquo;</a></span>
    </div>

</section>