<section class="page-header">
    <div class="page-body page-body-bg2 overlay">
        <h2>不動産情報</h2>
    </div>
</section>

<section class="category-area mt-large mb-large">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
            <h3 class="text-heading text-center border-bottom-3x text-dangers">category</h3>
                <div class="row align-items-stretch">
                    <div class="section-title text-left col-lg-8 col-md-12 align-items-center">
                <h4 class="text-heading text-center text-primarys">item</h4>
                <div class="ec-slider-wrap danger-img">
                    <div class="ec-slider-for">
                        <figure><img src="/images/gallery-01.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-02.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-03.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-03.jpg" width="" height="" alt="" /></figure>
                    </div>
					
					<div class="hidden">
                    <div class="ec-slider-nav hidden">
                        <figure><img src="/images/gallery-01.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-02.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-03.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-04.jpg" width="" height="" alt="" /></figure>
                    </div>
					</div>
                </div>
                <div class="pt-medium">
                    <table class="table table-category">
                        <tbody class="category">
                            <tr>
                                <th scope="row">物件名</th>
                                <td>item1</td>

                            </tr>
                            <tr>
                                <th scope="row">間取り</th>
                                <td>item1</td>

                            </tr>
                            <tr>
                                <th scope="row">販売価格</th>
                                <td>item1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
					<div class="section-title section-title-x2 text-center mt-large">
                    <a href="/about.html" class="secondary-btn u-has-display-block">販売中 </a>
					</div>
					<div class="section-title section-title-x2 text-center">
                    <a href="/about.html" class="primary-btn u-has-display-block">アーカイブ</a>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="category-area mt-large mb-large">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
            <h3 class="text-heading text-center border-bottom-3x text-dangers">category</h3>
                <div class="row align-items-stretch">
                    <div class="section-title text-left col-lg-8 col-md-12 align-items-center">
                <h4 class="text-heading text-center text-primarys">item</h4>
                <div class="ec-slider-wrap">
                    <div class="ec-slider-for">
                        <figure><img src="/images/gallery-01.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-02.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-03.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-03.jpg" width="" height="" alt="" /></figure>
                    </div>

                    <div class="ec-slider-nav">
                        <figure><img src="/images/gallery-01.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-02.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-03.jpg" width="" height="" alt="" /></figure>
                        <figure><img src="/images/gallery-04.jpg" width="" height="" alt="" /></figure>
                    </div>
                </div>
                <div class="pt-medium">
                    <table class="table table-category">
                        <tbody class="category">
                            <tr>
                                <th scope="row">物件名</th>
                                <td>item1</td>

                            </tr>
                            <tr>
                                <th scope="row">間取り</th>
                                <td>item1</td>

                            </tr>
                            <tr>
                                <th scope="row">販売価格</th>
                                <td>item1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
					<div class="section-title section-title-x2 text-center mt-large">
                    <a href="/about.html" class="secondary-btn u-has-display-block link-active">販売中 </a>
					</div>
					<div class="section-title section-title-x2 text-center">
                    <a href="/about.html" class="primary-btn u-has-display-block">アーカイブ</a>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-body4 section-gap mt-mediu">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h3 class="text-transform">お問い合わせ</h3>
                    <p class="text line-height-2">
                        株式会社フジキ建設のホームページにご来訪いただきありがとうございます。<br>弊社へのお問い合わせにつきましては下記よりご連絡いただきますようお願いいたします。</p>
                </div>
                <div class="row align-items-stretch mt-large">
                    <div class="section-title text-left col-lg-6 col-md-12 align-items-center">
                        <div class="btn-left -bold">
                            <div class="btn-title">お電話でのお問い合わせ</div>
                            <div class="btn-body">
                                <span class="tel-text"><i class="fas fa-phone"></i>048-946-7275</span>
                                <span
                                    class="u-has-display-block line-height-2">お問い合わせ時間：平日9：00～17：00<br>定休日：土曜・日曜･祝祭日</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <a href="" #>
                            <div class="section-title">
                                <div class="btn-right">
                                    <div class="btn-body -bold"><i class="fas fa-envelope"></i>メールでのお問い合わせ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>