<!doctype html>
<html lang="ja">
<head>
     <%- include('../include/_head', {topmeta: {topmeta:'pagemeta'}} )  %> 
</head>
<body>
    <%- include('../include/_header', {hedpage: {header:'default'}} )  %> 
    <%- include('../include/_service-container') %>
 <%- include('../include/_footer', {page: {footer:'default'}} ) %> 
</body>
</html>
