<!doctype html>
<html lang="ja">
<head>
    <%- include('../include/_head', {topmeta: {topmeta:''}} )  %> 
</head>
<body>
    <%- include('../include/_technology_list-container') %>
    <%- include('../include/_footer', {page: {footer:'footer-none'}} ) %> 
</body>
</html>
