<!doctype html>
<html lang="ja">
<head>
    <%- include('../include/_head', {topmeta: {topmeta:'topmeta'}} )  %> 
</head>
<body>
    <%- include('../include/_header', {hedpage: {header:'default'}} )  %> 
    <%- include('../include/_top-container') %>
 <%- include('../include/_footer', {page: {footer:'default'}} ) %> 
</body>
</html>
