
<% if (typeof page === 'undefined') { var page = ''; } %>
<% if(page['footer'] === 'default'){ %>
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="footer-body">

				<div class="row">
					<div class="col-lg-9  col-md-6">
						<h3 class="footer-logo"><img src="/images/logo.png" alt="注文住宅,土地,マンション,リノベーション,不動産,リフォーム,修繕工事,フジキ建設,埼玉県草加市"><span class="logo-text logo-text-heading">フジキ建設</span></h3>
						<div class="row align-items-center">
							<div class="col-lg-5 mt-small">
								<p class="font-14p">&#12306;340-0056&nbsp;&nbsp;埼玉県草加市新栄3-13-2</p>
								<p class="font-14p"><span data-action="call">TEL：048-946-7275</span>&nbsp;&nbsp;FAX：048-946-7276</p>
							</div>
							<div class="col-lg-6 mb-60-sub">
								<a href="https://goo.gl/maps/fVcxyTth2VdQv6yAA" target="_blank" class="genric-btn primary e-large -bold">Googlmapで見る</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<ul class="footer-info -bold">
							<li><a href="/">HOME</a></li>
							<li><a href="/service.html">事業内容</a></li>
							<li><a href="/property.html">不動産情報</a></li>
							<li><a href="/company.html">会社概要</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<p class="copy">&copy;2021&nbsp;株式会社フジキ建設</p>

	<p id="pagetop" style="display: block; position: fixed; bottom: 20px; right: 10px;"><a class="pagetop" href="#"><i class="ph-caret-up"></i></a></p>
<% } else if(page['footer'] === 'footersub'){ %>
<footer id="footer" class="l-footer">
<div class="l-footer__inner l-footer__inner--sub">
	<a id="js-pagetop-default" href="#" class="p-footer-pagetop-btn border-radius"><i class="ph-caret-up"></i></a>
	<span class="copyright">運営：一般社団法人 農業農村整備情報総合センター</span>
</div>
</footer>
</div>
<% } else if(page['footer'] === 'footersub-1286'){ %>
<footer id="footer" class="l-footer">
<div class="l-footer__inner l-footer__inner--sub-1286">
	<a id="js-pagetop-default" href="#" class="p-footer-pagetop-btn border-radius"><i class="ph-caret-up"></i></a>
	<span class="copyright">運営：一般社団法人 農業農村整備情報総合センター</span>
</div>
</footer>
</div>
<% } else if(page['footer'] === 'mypage1286'){ %>
</div>
<footer id="footer" class="l-footer1286">
<div class="l-footer-mypage">
	<a id="js-pagetop" href="#" class="p-footer-pagetop-btn border-radius"><i class="ph-caret-up"></i></a>
	<span class="copyright-footer1286">運営：一般社団法人 農業農村整備情報総合センター</span>
</div>
</footer>
<% } else if(page['footer'] === 'footer-none'){ %>
	<a id="js-pagetop" href="#" class="p-footer-pagetop-btn border-radius"><i class="ph-caret-up"></i></a>
<% } else {  %>
<footer id="footer" class="l-footer">
<div class="l-footer-mypage">
	<a id="js-pagetop" href="#" class="p-footer-pagetop-btn border-radius"><i class="ph-caret-up"></i></a>
	<span class="copyright">運営：一般社団法人 農業農村整備情報総合センター</span>
</div>
</footer>
<% } %>

<!--  Footer -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/pagetop.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/current.js"></script>
<script src="js/aos.js"></script>
<script src="js/lightcase.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/ofi.min.js"></script>
<script src="js/main.js"></script>
<script src="js/tel-3.1.js"></script>
<script>
		objectFitImages('.photo-ofi img');
</script>
<script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\/script>');</script>