<% if (typeof hedpage === 'undefined') { var hedpage = ''; } %>

<% if(hedpage['header'] === 'default'){ %>
	<header class="default-header">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="nav-container">
				<a class="navbar-brand" href="/">
					<h1 class="logo-body">
						<img src="/images/logo.png" alt="注文住宅,土地,マンション,リノベーション,不動産,リフォーム,修繕工事,フジキ建設,埼玉県草加市">
					</h1>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="ph-list"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end align-items-center"
					id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="cur nav-item"><a href="/" class="current">Home</a></li>
						<li class="cur nav-item"><a href="/service.html">業務案内</a></li>
						<li class="cur nav-item"><a href="/property.html">不動産情報</a></li>
						<li class="cur nav-item"><a href="/company.html">会社概要</a></li>
					</ul>
                <div class="header-tel -bold">  
                    <div class="header-tel -bold">
                    <div class="btn-body">
                    <span class="tel-text"><i class="fas fa-phone"></i>048-946-7275</span>
                    </div>
                    </div>
                    <div class="header-mail">
                    <div class="btn-body -bold"><i class="fas fa-envelope"></i>メールでのお問い合わせ</div>
                    </div>
                    </div>
				</div>
			</div>
		</nav>
	</header>
<% } else if(hedpage['header'] === 'default-1286'){ %> 
    <header class="l-header-area l-header-area-default-1286 wow slideInDown animated">    
        <div class="l-header-wrapper container u-bootstrap-clear-p">
            <div class="row u-bootstrap-clear-m">
                <div class="col-12 l-col-p-none u-bootstrap-clear-p">
                    <nav class="main-nav">
                      <div class="l-company-body">                        
                            <h1><a href="#" class="logo"><svg xmlns="http://www.w3.org/2000/svg" width="186.201" height="50" viewBox="0 0 186.201 50"><defs></defs><g transform="translate(-20 -111.5)"><path class="logo" d="M133.258,161.5a5.274,5.274,0,0,1-4.288-2.207l-23.544-32.761v34.221H97V116.8a5.29,5.29,0,0,1,9.586-3.088l23.544,32.762V112.023h8.425l0,44.182a5.277,5.277,0,0,1-3.668,5.038A5.338,5.338,0,0,1,133.258,161.5Z" transform="translate(-27 0)"/><path class="a" d="M56.258,161.5a5.273,5.273,0,0,1-4.287-2.205L28.427,126.532v34.221H20L20,116.8a5.29,5.29,0,0,1,9.585-3.091l23.545,32.764V112.022h8.425l0,44.182a5.3,5.3,0,0,1-5.3,5.3Z" transform="translate(0 0)"/><path class="a" d="M212.036,112.256l-39.284-.006v9.081l15.419,0,0,39.943h8.449l0-39.941,15.416,0Z" transform="translate(-53.562 -0.263)"/><path class="a" d="M259.34,161.351h0V152.9h0c9.434,0,17.405-7.427,17.406-16.22a16.379,16.379,0,0,0-4.784-11.879,15.848,15.848,0,0,0-11.8-4.348h-6.47l0,40.62H245.25l0-43.882a5.2,5.2,0,0,1,5.2-5.186l9.545,0a24.474,24.474,0,0,1,17.851,6.745,24.762,24.762,0,0,1,7.332,17.931C285.183,150.055,273.347,161.35,259.34,161.351Z" transform="translate(-78.984 -0.175)"/></g></svg>
                            </a></h1>                        
                        <div class="company-text -bold">農業農村整備<br class="sp">民間技術情報データベース<!--<span class="nav-pc-none pc-none">ARIC NNTD</span>--></div>
                        </div>
                        <ul class="nav">
                            <a href="#" class="js-nav--active"><li class="scroll-to-section">技術検索</li><span class="company-sub-text">キーワード検索・分野検索<i class="ph-caret-right"></i></span></a>
                            <a href="#"><li class="scroll-to-section">ご利用にあたって</li><span class="company-sub-text">NNTDとは<i class="ph-caret-right"></i></span></a>
                            <a href="#"><li class="scroll-to-section">技術情報登録・更新申請</li><span class="company-sub-text">ご検討の方もこちら<i class="ph-caret-right"></i></span></a>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<% } else if(hedpage['header'] === 'mypage'){ %>
    <div class="u-sticky" style="background: #fff;">  
    <header class="l-header-area l-header-mypage-area wow slideInDown animated">    
  
        <div class="l-header-wrapper l-header-mypege-wrapper container u-bootstrap-clear-p">
            <div class="row u-bootstrap-clear-m">
                <div class="col-12 l-col-p-none u-bootstrap-clear-p">
                    <nav class="main-nav u-main-nav-login">
                      <div class="l-company-body l-company-mypage-body">                        
                            <h1><a href="#" class="logo"><svg xmlns="http://www.w3.org/2000/svg" width="186.201" height="50" viewBox="0 0 186.201 50"><defs></defs><g transform="translate(-20 -111.5)"><path class="logo" d="M133.258,161.5a5.274,5.274,0,0,1-4.288-2.207l-23.544-32.761v34.221H97V116.8a5.29,5.29,0,0,1,9.586-3.088l23.544,32.762V112.023h8.425l0,44.182a5.277,5.277,0,0,1-3.668,5.038A5.338,5.338,0,0,1,133.258,161.5Z" transform="translate(-27 0)"/><path class="a" d="M56.258,161.5a5.273,5.273,0,0,1-4.287-2.205L28.427,126.532v34.221H20L20,116.8a5.29,5.29,0,0,1,9.585-3.091l23.545,32.764V112.022h8.425l0,44.182a5.3,5.3,0,0,1-5.3,5.3Z" transform="translate(0 0)"/><path class="a" d="M212.036,112.256l-39.284-.006v9.081l15.419,0,0,39.943h8.449l0-39.941,15.416,0Z" transform="translate(-53.562 -0.263)"/><path class="a" d="M259.34,161.351h0V152.9h0c9.434,0,17.405-7.427,17.406-16.22a16.379,16.379,0,0,0-4.784-11.879,15.848,15.848,0,0,0-11.8-4.348h-6.47l0,40.62H245.25l0-43.882a5.2,5.2,0,0,1,5.2-5.186l9.545,0a24.474,24.474,0,0,1,17.851,6.745,24.762,24.762,0,0,1,7.332,17.931C285.183,150.055,273.347,161.35,259.34,161.351Z" transform="translate(-78.984 -0.175)"/></g></svg>
                            </a></h1>                        
                        <div class="company-text-mypage -bold">農業農村整備民間技術情報データベース<span class="u-text-uppercase has-background-tertiary u-mypege">my&ensp;page</span></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
<% } else if(hedpage['header'] === 'mypage-1286'){ %>
<div class="u-sticky" style="background: #fff;">  
    <header class="l-header-area l-header-mypage-area-1286 wow slideInDown animated">    
  
        <div class="l-header-wrapper l-header-mypege-wrapper container u-bootstrap-clear-p">
            <div class="row u-bootstrap-clear-m">
                <div class="col-12 l-col-p-none u-bootstrap-clear-p">
                    <nav class="main-nav u-main-nav-login">
                      <div class="l-company-body l-company-mypage-body">                        
                            <h1><a href="#" class="logo"><svg xmlns="http://www.w3.org/2000/svg" width="186.201" height="50" viewBox="0 0 186.201 50"><defs></defs><g transform="translate(-20 -111.5)"><path class="logo" d="M133.258,161.5a5.274,5.274,0,0,1-4.288-2.207l-23.544-32.761v34.221H97V116.8a5.29,5.29,0,0,1,9.586-3.088l23.544,32.762V112.023h8.425l0,44.182a5.277,5.277,0,0,1-3.668,5.038A5.338,5.338,0,0,1,133.258,161.5Z" transform="translate(-27 0)"/><path class="a" d="M56.258,161.5a5.273,5.273,0,0,1-4.287-2.205L28.427,126.532v34.221H20L20,116.8a5.29,5.29,0,0,1,9.585-3.091l23.545,32.764V112.022h8.425l0,44.182a5.3,5.3,0,0,1-5.3,5.3Z" transform="translate(0 0)"/><path class="a" d="M212.036,112.256l-39.284-.006v9.081l15.419,0,0,39.943h8.449l0-39.941,15.416,0Z" transform="translate(-53.562 -0.263)"/><path class="a" d="M259.34,161.351h0V152.9h0c9.434,0,17.405-7.427,17.406-16.22a16.379,16.379,0,0,0-4.784-11.879,15.848,15.848,0,0,0-11.8-4.348h-6.47l0,40.62H245.25l0-43.882a5.2,5.2,0,0,1,5.2-5.186l9.545,0a24.474,24.474,0,0,1,17.851,6.745,24.762,24.762,0,0,1,7.332,17.931C285.183,150.055,273.347,161.35,259.34,161.351Z" transform="translate(-78.984 -0.175)"/></g></svg>
                            </a></h1>                        
                        <div class="company-text-mypage -bold">農業農村整備民間技術情報データベース<span class="u-text-uppercase has-background-tertiary u-mypege">my&ensp;page</span></div>
                        </div>
                        <ul class="l-id">
                            <li class="l-id__list">ID: XXXXXXXXXXXX</li>
                            <li class="l-id__list">株式会社 ESP 様</li>
                          <li class="l-id__list"><a class="login" href="#">ログアウト</a></li>                              
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
<% } else {  %> 
    <div class="u-sticky" style="background: #fff;">  
    <header class="l-header-area l-header-mypage-area wow slideInDown animated">
          <div class="l-header-wrapper l-header-mypege-wrapper container u-sticky">
            <div class="row u-bootstrap-clear-m">
                <div class="col-12 l-col-p-none u-bootstrap-clear-p">
                    <nav class="main-nav u-main-nav-login">
                      <div class="l-company-body l-company-mypage-body">                        
                            <h1><a href="#" class="logo"><svg xmlns="http://www.w3.org/2000/svg" width="186.201" height="50" viewBox="0 0 186.201 50"><defs></defs><g transform="translate(-20 -111.5)"><path class="logo" d="M133.258,161.5a5.274,5.274,0,0,1-4.288-2.207l-23.544-32.761v34.221H97V116.8a5.29,5.29,0,0,1,9.586-3.088l23.544,32.762V112.023h8.425l0,44.182a5.277,5.277,0,0,1-3.668,5.038A5.338,5.338,0,0,1,133.258,161.5Z" transform="translate(-27 0)"/><path class="a" d="M56.258,161.5a5.273,5.273,0,0,1-4.287-2.205L28.427,126.532v34.221H20L20,116.8a5.29,5.29,0,0,1,9.585-3.091l23.545,32.764V112.022h8.425l0,44.182a5.3,5.3,0,0,1-5.3,5.3Z" transform="translate(0 0)"/><path class="a" d="M212.036,112.256l-39.284-.006v9.081l15.419,0,0,39.943h8.449l0-39.941,15.416,0Z" transform="translate(-53.562 -0.263)"/><path class="a" d="M259.34,161.351h0V152.9h0c9.434,0,17.405-7.427,17.406-16.22a16.379,16.379,0,0,0-4.784-11.879,15.848,15.848,0,0,0-11.8-4.348h-6.47l0,40.62H245.25l0-43.882a5.2,5.2,0,0,1,5.2-5.186l9.545,0a24.474,24.474,0,0,1,17.851,6.745,24.762,24.762,0,0,1,7.332,17.931C285.183,150.055,273.347,161.35,259.34,161.351Z" transform="translate(-78.984 -0.175)"/></g></svg>
                            </a></h1>                        
                        <div class="company-text-mypage -bold">農業農村整備民間技術情報データベース<span class="u-text-uppercase has-background-tertiary u-mypege">my&ensp;page</span></div>
                        </div>
                        <ul class="l-id">
                            <li class="l-id__list">ID: XXXXXXXXXXXX</li>
                            <li class="l-id__list">株式会社 ESP 様</li>
                          <li class="l-id__list"><a class="login" href="#">ログアウト</a></li>                              
                        </ul>                       
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
<% } %>