<main>
<div class="has-background">
<div class="admin-wrap display-flex">
    <%- include('../include/technology_list/_technology_list-sidebar') %> 
    <%- include('../include/technology_list/_technology_list-content') %> 
   <%- include('../include/technology_list/_message-modal-content') %> 
   </div><%# admin-wrap %>
</div><%# has-background  %>
</main>