<div class="col-lg-6">
    <div class="p-search">
        <h2 class="c-title-h2 mt-medium pb-small">キーワード検索</h2>
        <div class="l-has-background search-space p-search__body">
            <div class="input-group">
                <input type="search" class="use_icon form-control" placeholder="&#xf002;">
                <span class="input-search-btn">
                    <button type="button" class="btn btn-default">検索</button>
                </span>
            </div>
            <ul class="p-accordion-area mt-small p-search--border">
                <li>
                    <div class="p-search-title plus">絞り込み</div>
                    <div class="p-panel search-contents">
                        <div class="row">
                            <div class="col-6">
                                <div class="c-card">
                                    <div class="c-card-header">
                                        <h3 class="c-card-title">目的・効果</h3>
                                    </div>
                                    <div class="c-card-body">
                                        <div class="c-keyword__content mr-4">
                                            <ul class="c-keyword__list">
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span>コスト削減</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>工期短縮</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span>品質向上</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>安全性向上</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>耐震・免震</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="c-card">
                                    <div class="c-card-header">
                                        <h3 class="c-card-title">技術区分</h3>
                                    </div>
                                    <div class="c-card-body">
                                        <div class="c-keyword__content mr-4">
                                            <ul class="c-keyword__list">
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span>工法</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>材料</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span>製品</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>木材利用</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>機器</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>設備</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>システム・ソフト</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="c-card">
                                    <div class="c-card-header">
                                        <h3 class="c-card-title">採用実績</h3>
                                    </div>
                                    <div class="c-card-body">
                                        <div class="c-keyword__content mr-4">
                                            <ul class="c-keyword__list">
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span class="label-indent">農村整備事業の採用実績あり</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span class="label-indent">その他の採用実績あり</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="c-card">
                                    <div class="c-card-header">
                                        <h3 class="c-card-title">特許・認証等</h3>
                                    </div>
                                    <div class="c-card-body">
                                        <div class="c-keyword__content mr-4">
                                            <ul class="c-keyword__list">
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span>特許取得あり</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" checked>
                                                        <i></i>
                                                        <span>実用新登録あり</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox">
                                                        <i></i>
                                                        <span class="label-indent">その他の認証制度登録あり</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>