<div id="message-modal" class="message-modal has-background-message-modal">
  <div class="p-message-content has-message-modal-orange">
      <div class="p-message-content__body">
      技術情報が削除されました
      </div>
    </div>
      <div class="p-message-content has-message-modal-bleu">
      <div class="p-message-content__body">
      技術情報が登録されました
      </div>
    </div>
  </div>  