<div id="abolition-modal" class="has-background-modal">
  <div class="p-modal-content">
      <div class="p-modal-header">
        <span class="modalclose">&times;</span>
        <h2 class="text-center">ログアウトしますか？</h2>
      </div>
      <div class="p-modal-body">
      <div class="btns-group">
    <button type="submit" class="c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block"><i class="btn-ph-caret-left ph-caret-left"></i>キャンセル</button>
    <button type="submit" class="genric-btn p-genric-btn--primary mt-small u-has-display-block">ログアウトする<i class="btn-ph-caret-right ph-caret-right"></i>
        </button>
        </div>
      </div>
    </div>
  </div>  