 <div class="p-admin-sidebar">
 <div style="position: sticky;top: 0;">
    <div class="logo-details">
        <div class="logo-details__logo-name"><img src="/assets/img/admin-logo.svg" alt="logo"></div>
        <div class="logo-details__text -bold pt-small-sm">管理システム</div>
    </div>    
    <ul class="p-nav-list">
      <li class="p-li-user">
      <div class="p-logout-body">
        <span class="user_id links-1">login_id123<i class="btn-ph-caret-right ph-caret-right"></i></span>
        <button class="logout modal-btn p-genric-btn--primary" data-target="#logout-modal">
          <span class="admin-logout-icon"></span>ログアウト<i class="btn-ph-caret-right ph-caret-right"></i>
          </button>
          </div>    
      </li>
      <li>
       <a href="#">
         <span class="links-2">技術情報<i class="btn-ph-caret-right ph-caret-right"></i></span>
       </a>
     </li>
     <li>
       <a href="#">
         <span class="links-3">技術情報申請<i class="btn-ph-caret-right ph-caret-right"></i></span>
       </a>
     </li>
     <li>
       <a href="#">
         <span class="links-4">有効期限情報<i class="btn-ph-caret-right ph-caret-right"></i></span>
       </a>
     </li>
     <li>
       <a href="#">
         <span class="links-5">請求情報<i class="btn-ph-caret-right ph-caret-right"></i></span>
       </a>
     </li>
     <li>
       <a href="#">
         <span class="links-6">企業情報<i class="btn-ph-caret-right ph-caret-right"></i></span>
       </a>
     </li>
    </ul>
   </div>
  </div>

  