@charset "UTF-8";

.p-admin-sidebar {
  /*   position: fixed; */
  top: 0;
  left: 0;
  z-index: 2;
  width: 230px;
  min-height: 100%;
  background: var(--color-primary);
}

.p-admin-sidebar .logo-details {
  padding: 1.5rem 1.4rem;
  background: $color-white;

  &__logo-name {
    text-align: center;

    img {
      width: 80%;
    }
  }

  &__text {
    @include font-size(14);
    text-align: center;
  }
}

.p-nav-list {

  .links-1 {
    padding-top: .5rem;
    padding-left: 5.5rem;
    text-align: left;
    background: var(--color-primary);
  }

  .links-1::before {
    position: absolute;
    top: calc(50% - .8em);
    left: 1.8rem;
    vertical-align: middle;
    content: url(../img/admin-icon-1.svg);
  }

  > li a {
    color: $color-white;
  }
}

.p-dashboard {
  position: relative;
  /*   flex: 1; */
  /*   min-width: 774px; */
  /*   @include mq("xsm") {
    min-width:initial;
  } */
  min-width: 774px;
  /*   @include mq("lg") {
    min-width: 774px;
  } */
  @include mq("admin-breakpoint") {
    max-width: 774px;
  }
  min-height: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  background: var(--color-secondary);
  /*   top: 20px;
  left: 270px;
  width: calc(100% - 270px); 
  min-width: 1116px;
   */

  .p-genric-btn--primary-small {
    @include mq("admin-breakpoint") {
      width: initial;
    }
  }
}

.p-dashboard-header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 54px;
  background: var(--color-secondary);
}

.p-admin-sidebar .p-nav-list li {
  position: relative;
  margin: 0 1rem;
  @include font-size(14);
  font-weight: 700;

  > a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 60px;
    border-radius: .25rem;

    &:hover {
      color: $color-white;
      background: var(--color-admin-bg);
      opacity: 10;
    }
  }

  img {
    padding: 1rem;
  }

  &:first-child {
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid $color-white;
  }

  &:nth-child( 2 ) {
    padding-top: .8rem;
  }
}

.p-nav-list {

  > .p-li-user a {
    color: var(--color-admin-bg);
  }

  .p-li-user a {

    &:hover {
      color: $color-white;
    }
  }
}

//ログアウトボタン

.p-logout-body {
  position: relative;
  width: 210px;
  height: 60px;
  background-color: transparent;

  &:hover {
    width: 43rem;
    /*     width: 300%; */

    .user_id {
      background: var(--color-admin-bg);
    }
  }
}

/* .p-logout-body:hover {
  width: 210%;
} */

.user_id {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 200px;
  height: 60px;
  color: $color-white;

  .btn-ph-caret-right {
    position: absolute;
    top: calc(50% - .6em);
    right: 0;
  }
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 200px;
  height: 60px;
  color: $color-white;
  background: var(--color-primary);
  @include mq("xsm") {
    margin: 0;
  }

  &:hover {
    background: var(--color-admin-bg);
  }
}

/* .p-transparent {
  position: relative;
  width: 80px;
  height: 50px;
  background: transparent;
  &:hover {
    width: 100%;
  }
  .links-1{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4000px;
    height: 50px;
    z-index: 2;
    
  }
  .tooltip-link{
    position: absolute;
    top: 0;
    right: 0; // 右よせ
    width: 400px;
    height: 50px;
    z-index: 1;
  }
} */

/* .p-admin-sidebar .login span {
  color: var(--color-admin-bg);
} */

/* .tooltip-link {
  .btn-ph-caret-right {
    top: calc(50% - 0.7em);
  }
} */

.admin-logout-icon::after {
  position: absolute;
  top: calc(50% - .9em);
  left: 1rem;
  vertical-align: middle;
  content: url(../img/logout-icon.svg);
}

/* .p-admin-sidebar li .tooltip-link {
  position: absolute;
  left: 240px;
  display: grid;
  align-items: center;
  height: 60px;
  padding: 5px 10px;
  color: $color-white;
  color: var(--text-black);
  color: #fff;
  background: var(--color-primary);
  transform: translateY(-5%) translateX(5px);
} */

/* .p-admin-sidebar li:hover a .tooltip-link {
  visibility: visible;
  background: var(--color-admin-bg);
  opacity: 1;
  transform: translateY(-5%) translateX(5px);
} */

.p-nav-list .links-2,
.links-3,
.links-4,
.links-5,
.links-6 {
  width: 100%;
  padding-left: 5rem;
  text-align: left;

  .btn-ph-caret-right {
    position: absolute;
    top: calc(50% - .6em);
    right: 1rem;
  }
}

.p-nav-list {

  .links-2::before {
    position: absolute;
    top: calc(50% - .5em);
    left: 2rem;
    vertical-align: middle;
    content: url(../img/admin-icon-2.svg);
  }

  .links-3::before {
    position: absolute;
    top: calc(50% - .8em);
    left: 1.8rem;
    vertical-align: middle;
    content: url(../img/admin-icon-3.svg);
  }

  .links-4::before {
    position: absolute;
    top: calc(50% - .8em);
    left: 1.8rem;
    vertical-align: middle;
    content: url(../img/admin-icon-4.svg);
  }

  .links-5::before {
    position: absolute;
    top: calc(50% - .8em);
    left: 1.8rem;
    vertical-align: middle;
    content: url(../img/admin-icon-5.svg);
  }

  .links-6::before {
    position: absolute;
    top: calc(50% - .8em);
    left: 2rem;
    vertical-align: middle;
    content: url(../img/admin-icon-6.svg);
  }
}

/* .p-admin-sidebar li:hover a .tooltip-link::before {
  content: '';
  position: absolute;
  top:15px;
  left: -16px;
  width: 12px;
  height: 12px;
  background: #fff;
  transform:rotate(45deg) translateY(-50%);
} */

//p-dashboard-menu

.p-dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .p-dashboard-hed-btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.p-dashboard-menu-wrap {
  padding-top: 1rem;
  /* margin-top: 1rem; */
  margin-right: 2rem;
  margin-bottom: 8rem;
  background: $color-white;
  border: 1px solid var(--color-border);
  @include border-radius(.5);
  /*   @include mq("admin-breakpoint") {
    margin-right: initial;
    } */
}

.p-dashboard-menu-2column {
  display: flex;
  align-items: end;
  justify-content: space-between;

  .dashboard-btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 1.2rem;

    .p-genric-btn--secondary-small,
    .p-genric-btn--primary-small {
      height: 3.3rem;
      padding: 0;
      margin-right: 1.5rem;
    }
  }
}

.p-dashboard-menu {
  display: flex;
  /*   flex-flow: column wrap; */
  /*   display: grid;
  grid-template-columns: 185px 320px 232px; */
  align-items: center;
}

.p-dashboard-menu__1,
.p-dashboard-menu__2,
.p-dashboard-menu__3 {
  padding: 0 1.5rem;
}

.dashboard-select-icon--1 {

  &::after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 9px;
    height: 9px;
    margin-top: -7px;
    content: "";
    border: 0px;
    border-top: solid 2px var(--color-primary);
    border-right: solid 2px var(--color-primary);
    transform: rotate(135deg);
  }
}

.p-dashboard-menu__number {
  position: relative;
  display: flex;
  align-items: center;

  .form-control {
    @include font-size(14);
  }

  .p-dashboard-control {
    width: 100%;
    width: 5.1rem;
    height: 35px;
    @include mq("admin-breakpoint") {
      max-width: 5.1rem;
    }
  }

  > span {
    margin: 1rem;
  }

  .p-dashboard-control-2 {
    width: 28rem;
    height: 35px;
    @include mq("admin-breakpoint") {
      max-width: 15rem;
    }
  }

  .p-dashboard-control-3 {
    width: 100%;
    width: 20rem;
    height: 35px;
    @include mq("admin-breakpoint") {
      max-width: 20rem;
    }
  }

  .p-dashboard-control-input {
    padding: 1rem;
  }
}

//p-dashboard-body

.p-dashboard-body {
  padding: 0 1.5rem;
  background: $color-white;
  border-top: 1px solid var(--color-border);
}

//pagination

.p-table-pagination-wrap {
  display: flex;
  @include mq("lg") {
    flex-flow: row wrap;
  }
  /*   flex-flow: row wrap; */
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .p-table-pagination-left {
    display: flex;
    align-items: center;

    .p-dashboard-control-3 {
      width: 21rem;
      @include mq("admin-breakpoint") {
        max-width: 10rem;
      }
    }
  }

  .p-table-pagination-right {
    position: relative;
    display: flex;
    align-items: center;

    .p-dashboard-control-3 {
      max-width: 21rem;
      @include mq("admin-breakpoint") {
        max-width: 10rem;
        margin-top: 0;
      }
    }

    select {
      @include font-size(14);
    }
  }
}

.p-table-pagination-right.dashboard-select-icon--1::after {
  right: 18rem;
}

.pagination-container ul {
  display: flex;
  width: 100%;

  li {
    @include font-size(12);
    border: 1px solid #ccc;
  }

  .first {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  .last {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}

.pagination-container {

  .fas {
    padding: 0 .5rem;
  }

  .disabled {

    a {
      color: var(--color-table);
    }
  }
}

.pagination-container a {
  display: block;
  padding: .8rem 1rem;
  font-weight: 900;
  color: var(--color-primary);
}

.pagination-container a:hover {
  color: var(--color-primary);
  background: var(--color-secondary);
}

.p-table-pagination-up {
  padding-top: 1.2rem;
  padding-bottom: 1.5rem;
}

.p-table-pagination-down {
  display: flex;
  align-items: center;
  padding-top: 2.2rem;
  padding-bottom: 2.5rem;
}

.total-deta {
  @include font-size(12);
  padding-right: 2rem;
}

//multiselect

.p-select-field {
  position: relative;
  margin-right: 2rem;
  /*   border: 1px solid var(--color-border); */
  @include border-radius(.25);
}

.p-select-field,
.task,
.p-multi-selector-list {
  z-index: 1;
  max-width: 21rem;

  height: 35px;
  background: #fff;

  input {
    height: 35px;
    padding: .375rem .75rem;
  }
}

.task {
  display: block;
  padding-left: 0;
}

.p-multi-selector-list {
  display: none;

  .c-checkbox input[ type = "checkbox" ] + i {
    top: 10px;
    left: 1rem;
    border: none;
  }

  .c-checkbox input[ type = "checkbox" ]:checked + i::after {
    color: var(--color-primary);
  }

  label {
    display: flex;
    align-items: center;
  }

  .task {
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);

    > span {
      display: block;
      padding-left: 3rem;
      margin-right: 0;
      font-weight: initial;
      text-align: center;
      text-align: left;
    }
  }

  .last {
    border-bottom: 1px solid var(--color-border);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
}

.show {
  position: absolute;
  bottom: -2.8rem;
  z-index: 1;
  display: block;
}

//admin-breadcrumb

.admin-breadcrumb {
  display: box;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.8;

  li::after {
    padding: 0 .5em;
    color: var(--text-black);
    content: ">";
  }

  > li:last-child::after {
    content: "";
  }
}
