@charset "UTF-8";

.point-list {
  padding: 2rem;
  margin: 1rem 0;
  background: var(--color-secondary);

  li {

    > span {
      @include font-size(20);
      display: block;
      padding-bottom: 1rem;
      font-weight: bold;
      color: var(--color-primary);
    }
  }
}
