@charset "UTF-8";

//step

/* p-progressbar */

.progressbar,
.progressbar-2,
.progressbar-3,
.progressbar-4,
.progressbar-5 {
  position: relative;
  display: flex;
  justify-content: space-between;
  @include mq("lg") {
    max-width: 1000px;
  }
  @include mq("md") {
    max-width: 800px;
  }
  /*   @include mq("xsm") {
    max-width: 400px;
  } */
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 6rem;
  counter-reset: step;
}

.progressbar::before,
.progress {
  position: absolute;
  top: 50%;

  /*   z-index: -1; */
  @include mq("lg") {
    width: 100%;
  }
  @include mq("md") {
    width: 100%;
  }
  /*   @include mq("md") {
    width: 79%;
  }
  @include mq("sm") {
    width: 79%;
  } */
  @include mq("xsm") {
    width: 100%;
  }
  @include mq("sp") {
    width: 100%;
  }
  height: 30px;
  content: "";
  background-color: #ffc000;
  transform: translateY(-50%);
}


.progressbar::after {
  /*   position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  @include mq("lg") {
    top: 30%;
    right: 14.8rem;
    margin-top: -6px;
    border-color: transparent transparent transparent #ffc000;
    border-width: 30px 0 30px 30px;
  }
  @include mq("md") {
    top: 31%;
    right: 19%;
    margin-top: -6px;
    border-color: transparent transparent transparent #ffc000;
    border-width: 30px 0 30px 30px;
  } */
  /*   @include mq("md") {
    top: 31%;
    right:15rem;
    margin-top: -6px;
    border-color: transparent transparent transparent #ffc000;
    border-width: 30px 0 30px 30px;
  }
  @include mq("sm") {
    top: 30%;
    right: 7rem;
    margin-top: -6px;
    border-color: transparent transparent transparent #ffc000;
    border-width: 20px 0 20px 20px;
  } */

  /*   @include mq("xsm") {
    top: 29%;
    right: 19%;
    margin-top: -6px;
    border-color: transparent transparent transparent #ffc000;
    border-width: 20px 0 20px 20px;
  } */
}

.progressbar-2::before,
.progress {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--color-danger);
  transform: translateY(-50%);
}

.progressbar-2::after {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 30%;
  height: 4px;
  content: "";
  content: " ";
  background-color: var(--color-danger);
  background-color: var(--color-primary);
  transform: translateY(-50%);
}

.progressbar-3::before,
.progress {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--color-danger);
  transform: translateY(-50%);
}

.progressbar-3::after {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 50%;
  height: 4px;
  content: "";
  content: " ";
  background-color: var(--color-danger);
  background-color: var(--color-primary);
  transform: translateY(-50%);
}

.progressbar-4::before,
.progress {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--color-danger);
  transform: translateY(-50%);
}

.progressbar-4::after {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 70%;
  height: 4px;
  content: "";
  content: " ";
  background-color: var(--color-danger);
  background-color: var(--color-primary);
  transform: translateY(-50%);
}

.progressbar-5::before,
.progress {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--color-primary);
  transform: translateY(-50%);
}

.progressbar-5::after {
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 50%;
  height: 4px;
  content: "";
  content: " ";
  background-color: var(--color-danger);
  background-color: var(--color-primary);
  transform: translateY(-50%);
}

.progress {
  width: 0%;
  background-color: var(--color-primary);
  transition: .3s;
}

.progress-step {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: $color-white;
  background-color: var(--color-danger);
  border-radius: 20%;
  @include mq("lg") {
    width: 16rem;
    height: 13rem;
  }
  @include mq("md") {
    width: 14rem;
    height: 14rem;
  }
  @include mq("xsm") {
    width: 8rem;
    height: 9rem;
  }
  @include mq("sp") {
    width: 6.5rem;
    height: 7rem;
    @include font-size(10);
  }
}

.title--1,.title--2,.title--3{
  background-color: var(--color-primary); 
}

/* .progress-step::before {
  font-weight: bold;
  color: $color-white;
  content: counter(step);
  counter-increment: step;
} */

.progress-step::after {
  position: absolute;
  /*   top: calc(100% + .5rem); */
  z-index: 2;
  @include mq("lg") {
    @include font-size(16);
  }
  @include mq("xsm") {
    @include font-size(14);
  }
  @include mq("sp") {
    @include font-size(12);
  }
  font-weight: bold;
  text-align: center;
  content: attr(data-title);
}

.title--1::after {
  padding-bottom: 4rem;
  @include mq("lg") {
    width: 12%;

  }
  @include mq("md") {
    width: 12%;
  }
  /*   @include mq("xsm") {
    width: 10%;
  } */
  text-align: center;
}

.title--2 {

  &::after {
    padding-bottom: 4rem;
    /*     width: 10%; */
    text-align: center;
  }

  &[ progressbar-deta = "p-progressbar2" ] {
    background-color: var(--color-primary);

    &::after {
      color: var(--color-primary);
    }
  }
}

.title--3 {

  &::after {
    padding-bottom: 4rem;
    @include mq("lg") {
      width: 12%; 
    }
    @include mq("md") {
      width: 12%;
    }
    /*     @include mq("xsm") {
      width: 10%;
    } */
    text-align: center;
  }

  &[ progressbar-deta = "p-progressbar3" ] {
    background-color: var(--color-primary);

    &::after {
      color: var(--color-primary);
    }
  }
}

.title--4::after {
  /*   width: 16%; */
  text-align: center;
}

.title--4 {

  &::after {
    padding-bottom: 4rem;
  }

  &[ progressbar-deta = "p-progressbar4" ] {
    background-color: var(--color-primary);

    &::after {
      color: var(--color-primary);
    }
  }
}

.title--5::after {
  width: 15%;
  text-align: center;
}

.progress-step-active {
  color: var(--color-primary);
  background-color: var(--color-primary);

  &::after {
    color: var(--color-primary);
  }
}

.title--5 {

  &[ progressbar-deta = "p-progressbar5" ] {
    background-color: var(--color-primary);

    &::after {
      color: var(--color-primary);
    }
  }
}

.progress-step1 {

  &::after {
    @include mq("md") {
      width: 40px;
      height: 40px;
      margin-left: -14px;
    }
    @include mq("xsm") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    @include mq("sp") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    position: absolute;
    bottom: 18%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    /* margin-right: 10px; */
    content: "";
    background: url(/images/image15.png) no-repeat;
    background-size: contain;
  }
}

.progress-step2 {

  &::after {
    @include mq("md") {
      width: 40px;
      height: 40px;
      margin-left: -19px;
    }
    @include mq("xsm") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    @include mq("sp") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    position: absolute;
    bottom: 18%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    /* margin-right: 10px; */
    content: "";
    background: url(/images/image16.png) no-repeat;
    background-size: contain;
  }
}

.progress-step3 {

  &::after {
    @include mq("md") {
      width: 40px;
      height: 40px;
      margin-left: -20px;
    }
    @include mq("xsm") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    @include mq("sp") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    position: absolute;
    bottom: 18%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    /* margin-right: 10px; */
  
    content: "";
    background: url(/images/image17.png) no-repeat;
    background-size: contain;
  }
}

.progress-step4 {

  &::after {
    @include mq("md") {
      width: 40px;
      height: 40px;
    }
    @include mq("xsm") {
      width: 30px;
      height: 30px;
    }
    @include mq("sp") {
      width: 30px;
      height: 30px;
      margin-left: -14px;
    }
    position: absolute;
    bottom: 18%;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    /* margin-right: 10px; */
    margin-left: -8px;
    content: "";
    background: url(/images/image14.png) no-repeat;
    background-size: contain;
  }
}