<section class="page-header">
    <div class="page-body page-body-bg3 overlay">
        <h2>会社概要</h2>
    </div>
</section>

<section class="category-area mt-large mb-large">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12">
        <h3 class="text-heading text-center">ご挨拶</h3>
                        <div class="row align-items-stretch">
                            <div class="section-title text-left col-lg-6 col-md-12 align-items-center">
                         <div class="line-height-2 -bold">
							平成4年設立の当社は、もともと大工工事を主とする工務店でしたが、新築、増改築、リフォーム、耐震補強、不動産再生とお客様のニーズに応えるべく業務を広げ、今日に至りました。<br class="br-sp">お客様に喜んでいただくよう、誠心誠意仕事をする気持ちは設立時より変わりません。<br class="br-sp">「いつでも声をかけて頂ける」「いつでも顔をお見せできる」うれしい限りです。これからも当社はサービス向上と挑戦を忘れずに、当り前のことを当り前に行い、邁進してまいります。
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
							<img src="/images/company.jpg" alt="フジキ建設画像">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section class="category-area mt-large mb-large">
    <div class="container">
        <h3 class="text-heading text-center">会社概要</h3>
        <table class="table table-bordered">
            <tbody class="company">
                <tr>
                    <th scope="row">社名</th>
                    <td>株式会社フジキ建設</td>

                </tr>
                <tr>
                    <th scope="row">住所</th>
                    <td>〒340-0056　<br class="br-sp">埼玉県草加市新栄3-13-2</td>

                </tr>
                <tr>
                    <th scope="row">代表</th>
                    <td>齊藤　薫</td>
                </tr>
                <tr>
                    <th scope="row">電話番号</th>
                    <td><span class="tel-text" data-action="call">048-946-7275</span></td>
                </tr>
                <tr>
                    <th scope="row">FAX番号</th>
                    <td>048-946-7276</td>

                </tr>
                <tr>
                    <th scope="row">設立</th>
                    <td>平成4年</td>

                </tr>
                <tr>
                    <th scope="row">資本金</th>
                    <td>1,000万円</td>

                </tr>
                <tr>
                    <th scope="row">事業内容</th>
                    <td class="line-height-2">総合建設業(ビル・マンション)<br>総合リフォーム(マンション・戸建)<br>注文住宅(木造・2×4・コンクリート・鉄骨造)<br>店舗事務所等の設計・施工<br>不動産再生事業</td>
                </tr>
                <tr class="line-h">
                    <th scope="row">免許等</th>
                    <td>建設業許可:埼玉県知事許可(般-2)第55882号<br>宅地建物取引業者免許:埼玉県知事(2)2-22094号</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section class="category-area mt-large mb-large">
            <div class="container">
<h3 class="text-heading text-center">アクセス</h3>
<div class="gmap">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.589950155571!2d139.76461131526347!3d35.85905698015324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601896a52f740a65%3A0xfc05311eed327309!2z77yI5qCq77yJ44OV44K444Kt5bu66Kit!5e0!3m2!1sja!2sjp!4v1638211290222!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

		<div class="gmap-link">
			<a href="https://goo.gl/maps/fVcxyTth2VdQv6yAA" target="_blank" class="genric-btn primary e-large">Googlmapで見る</a>
		</div>
	</div>
</div>
</section>