<form method="post" class="form formrun" data-persist="garlic" action="/">
<div class="c-title">
<h2 class="c-title-h2 mt-medium pb-small">新規登録申請</h2>
</div>

<div class="progressbar">
    <div class="progress" id="progress"></div>
        <div class="progress-step progress-step-active title--1" data-title="技術情報詳細
    登録"></div>
        <div class="progress-step title--2" data-title="採用実績
    登録"></div>
        <div class="progress-step title--3" data-title="連絡先情報・検索ワード
    登録"></div>
        <div class="progress-step title--4" data-title="図表・写真・動画
    登録"></div>
        <div class="progress-step title--5" data-title="入力情報確認"></div>
    </div>

<div class="form-step form-step-active">

<div class="c-lead mt-medium">
以下の項目をご入力ください。
</div>

<div class="c-subtitle has-background-secondary mt-small mb-small">
<span class="c-subtitle u-has-inline-block">技術情報詳細</span>
</div>

    <div class="p-new-registration">
        <div class="p-new-registration__wrapper">
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <div class="col-2 col-form-label">登録番号</div>
                <div class="col-10">
                    1290
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <div class="col-2 col-form-label">申請日</div>
                <div class="col-10">
                    2021/9/1
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputyear" class="col-2 col-form-label">開発年</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-2 p-inputyear">
                    <input type="text" class="form-control" id="inputyear" placeholder="2021" name="開発年" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">                 
                    <span class="text-danger" data-formrun-show-if-error="開発年">未入力です</span>   
                </div>
                <div class="col-1 p-year">年</div>
            </div>
            
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext1" class="form-control-label col-2 col-form-label">技術名称</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
              <input type="text" class="form-control" id="inputtext1"  placeholder="例）◯◯◯◯◯◯◯工法" name="技術名称" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">      
                    <span class="text-danger" data-formrun-show-if-error="技術名称">未入力です</span>
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext3" class="col-2 col-form-label">登録会社名</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputtext3" placeholder="例）株式会社◯◯◯◯◯◯" name="登録会社名" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="登録会社名">未入力です</span>
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext4" class="col-2 col-form-label">開発会社名</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputtext4" placeholder="例）株式会社◯◯◯◯◯◯" name="開発会社名" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="開発会社名">未入力です</span>
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext5" class="col-2 col-form-label">技術の要約</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-9">
                    <input type="text" class="form-control" id="inputtext5"
                        placeholder="例）老朽化による◯◯◯◯◯に◯◯◯◯◯を用いた◯◯◯◯◯工法。" name="技術の要約" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                        <span class="text-danger" data-formrun-show-if-error="技術の要約">未入力です</span>
                </div>
            </div>
        </div>
        <div class="p-new-registration__wrapper">
            <div class="p-new-registration__iteme--2 d-flex">
                <div class="col-2"><label for="exampleFormControlSelect1" class="col-form-label">登録分野</label>
                </div>
                <span class="c-check u-has-display-block">必須</span>
                <div class="p-select-body u-body-flex col-9 u-border-bottom-solid">
                    <span class="p-select-body-sub--text u-has-inline-block">メイン登録</span>
                    <div class="col-9">
                        <div class="select-icon--1">
                        <select class="form-control is-empty" name="メイン登録" data-formrun-required="">
                            <option value="">選択ください</option>
                            <option value="01_土木工事（施設別）">2</option>
                            <option value="01_土木工事（施設別）">3</option>
                            <option value="01_土木工事（施設別）">4</option>
                            <option value="01_土木工事（施設別）">5</option>
                            </select>
                            <span class="text-danger" data-formrun-show-if-error="メイン登録">未選択です</span>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                       <select class="form-control is-empty" name="メイン登録2" data-formrun-required="">
                            <option value="">選択ください</option>
                            <option value="01_土木工事（施設別）">2</option>
                            <option value="01_土木工事（施設別）">3</option>
                            <option value="01_土木工事（施設別）">4</option>
                            <option value="01_土木工事（施設別）">5</option>
                            </select>
                            <span class="text-danger" data-formrun-show-if-error="メイン登録2">未選択です</span>
                        </div>
                         <div class="select-icon--3 p-tree-icon--2">
                       <select class="form-control is-empty" name="メイン登録3" data-formrun-required="">
                            <option value="">選択ください</option>
                            <option value="01_土木工事（施設別）">2</option>
                            <option value="01_土木工事（施設別）">3</option>
                            <option value="01_土木工事（施設別）">4</option>
                            <option value="01_土木工事（施設別）">5</option>
                            </select>
                            <span class="text-danger" data-formrun-show-if-error="メイン登録3">未選択です</span>
                        </div>
                    </div>
                </div>
            </div>

           <div class="p-new-registration__iteme--2 d-flex">
                <div class="col-2"><label for="exampleFormControlSelect1" class="col-form-label"></label>
                </div>
                <span class="c-check u-has-display-block u-hidden">必須</span>
                <div class="p-select-body u-body-flex col-9 u-border-bottom-solid">
                    <span class="p-select-body-sub--text u-has-inline-block">サブ登録 1</span>
                    <div class="col-9">
                        <div class="select-icon--1">
                        <select class="form-control is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                        <select class="form-control is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                         <div class="select-icon--3 p-tree-icon--2">
                        <select class="form-control p-tree--2 is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
          <div class="p-new-registration__iteme--2 d-flex">
                <div class="col-2"><label for="exampleFormControlSelect1" class="col-form-label"></label>
                </div>
                <span class="c-check u-has-display-block u-hidden">必須</span>
                <div class="p-select-body u-body-flex col-9 u-border-bottom-solid">
                    <span class="p-select-body-sub--text u-has-inline-block">サブ登録 2</span>
                    <div class="col-9">
                    <div class="select-icon--1">
                        <select class="form-control is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                        <select class="form-control is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                         <div class="select-icon--3 p-tree-icon--2">
                        <select class="form-control p-tree--2 is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
          <div class="p-new-registration__iteme--2 d-flex">
                <div class="col-2"><label for="exampleFormControlSelect1" class="col-form-label"></label>
                </div>
                <span class="c-check u-has-display-block u-hidden">必須</span>
                <div class="p-select-body u-body-flex col-9">
                    <span class="p-select-body-sub--text u-has-inline-block">サブ登録 3</span>
                    <div class="col-9">
                        <div class="select-icon--1">
                        <select class="form-control is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                        <div class="select-icon--2 p-tree-icon--1">
                        <select class="form-control is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                         <div class="select-icon--3 p-tree-icon--2">
                        <select class="form-control p-tree--2 is-empty">
                            <option value="" selected>選択ください</option>
                            <option value="">01_土木工事（施設別）</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-new-registration__wrapper">
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea1" class="col-sm-3 col-form-label">技術の要約</label>
                <span class="c-check u-has-display-block m-right-small">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--1" data-formrun-class-if-error="has-danger" data-formrun-target="技術の要約">

                    <textarea class="form-control" placeholder="例）老朽化による既設変状構造物の空隙・空洞・箇所に、現地にて配合したト－スイＣＯＮ（透水コンクリ－ト）を圧送充填することにより充填材がフィルタ－効果を発揮し背面水のみ排出し、土砂・捨石等の吸出し防止及び波圧時による水圧を低減させ洗掘抑制が可能になり、構造物の崩壊・沈下・倒壊を抑制します。" id="textarea1" name="お問い合わせ" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>                            <span class="text-danger" data-formrun-show-if-error="お問い合わせ">内容を入力してください</span>
                    </div>
                </div>
            </div>

            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea2" class="col-sm-3 col-form-label">開発の趣旨・目的</label>
                <span class="c-check u-has-display-block m-right-small">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--2" data-formrun-class-if-error="has-danger" data-formrun-target="開発の趣旨・目的">

                    <textarea class="form-control" placeholder="例）従来の充填工では、セメント系充填材を使用し既設変状構造物の開口・空洞箇所を閉塞することで損傷箇所に接着効果をもたらし、水抜きパイプ等により背面水を排出して維持保全を保っていましたが、経年により目詰まりが発生しパイピング現象が見受けられた。また、石積み前面にもたれ式擁壁、ブロック積工新設などが施されおりましたが、過大な仮設工を要したり重機災害・騒音災害・交通規制などの問題が生じていました。本工法では施工箇所より200ｍ以内にプラント（2.0ｍ＊5.0ｍ）を設置し圧送ホ－ス延伸による人力作業の充填施工が出来るため、仮設工等が不要となり近隣住民への施工環境が軽減できます。" id="textarea2" name="お問い合わせ2" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>                            <span class="text-danger" data-formrun-show-if-error="お問い合わせ2">内容を入力してください</span>
                    </div>
                </div>
            </div>

   
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea3" class="col-sm-3 col-form-label">適用範囲（適用条件）</label>
                <span class="c-check u-has-display-block m-right-small">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--3" data-formrun-class-if-error="has-danger" data-formrun-target="適用範囲（適用条件）">

                    <textarea class="form-control" placeholder="1）摘要現場・海岸護岸、防波堤などの洗掘による石積み沈下。・河川護岸の既設構造物（ブロック積み・石積み）空隙、空洞箇所。・景観区域での石積み補修、補強。・道路、宅地等の既設構造物（ブロック積み・石積み）空隙、空洞箇所。・天然記念物（樹木）の環境保全。2）適用条件・気温５℃以下５℃以上での施工は避ける。・著しい腹み出し及び崩壊が予測される箇所。・流速３ｍ/秒以内は施工可能。上記以上の流速については、仮設工が必要。こちらにお問い合わせ内容を入力してください。" id="textarea3" name="お問い合わせ3" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>                            <span class="text-danger" data-formrun-show-if-error="お問い合わせ3">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea4" class="col-sm-3 col-form-label">構造・材料諸元／製品仕様</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--4" data-formrun-class-if-error="has-danger" data-formrun-target="構造・材料諸元／製品仕様">

                    <textarea class="form-control" placeholder="【トースイＣＯＮ設計配合】・ポルトランドセメント（普通）３００ｋｇ・粗骨材（７号砕石）１，４５０ｋｇ・混和剤（透水コンクリ－ト凝固剤）３０ℓ・混和剤（水中不分離剤）２．５ｋｇ・混和剤（急結剤）２６ℓ" id="textarea4" name="お問い合わせ4" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>                            <span class="text-danger" data-formrun-show-if-error="お問い合わせ4">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea5" class="col-sm-3 col-form-label">特徴（メリット）</label>
                <span class="c-check u-has-display-block m-right-small">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--5" data-formrun-class-if-error="has-danger" data-formrun-target="特徴（メリット）">

                    <textarea class="form-control" placeholder="・◯◯◯◯◯が可能です。・◯◯◯◯◯が保たれます。・◯◯◯◯◯が減少できます。" id="textarea5" name="お問い合わせ5" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>                            <span class="text-danger" data-formrun-show-if-error="お問い合わせ5">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea6" class="col-sm-3 col-form-label">特徴（デメリット）</label>
                <span class="c-check u-has-display-block m-right-small">必須</span>
                <div class="col-6">
                   <div class="form-group p-textarea--6" data-formrun-class-if-error="has-danger" data-formrun-target="特徴（デメリット）">

                    <textarea class="form-control" placeholder="・◯◯◯◯◯が可能です。・◯◯◯◯◯が保たれます。・◯◯◯◯◯が減少できます。" id="textarea6" name="お問い合わせ6" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>                            <span class="text-danger" data-formrun-show-if-error="お問い合わせ6">内容を入力してください</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-lead mt-small">
            <button type="submit" class="btn-next genric-btn p-genric-btn--primary mt-small u-has-display-block">次へ<i class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
        <div class="c-lead mt-small">
            <button type="submit" disabled class="js-button c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block">ここまでを保存する
            </button>
        </div>

    </div>
</div>


<!-- Progress bar -->
<!-- Steps -->
<div class="form-step">
    <div class="c-subtitle has-background-secondary mt-small mb-small">
        <span class="c-subtitle u-has-inline-block">採用実績</span>
    </div>
    <div class="p-new-registration__wrapper">
        <div class="p-new-registration__iteme--number form-group d-flex align-items-center">
            <label for="number" class="col-3 col-form-label">農業農村整備事業</label>
            <span class="c-check u-has-display-block m-right-small">必須</span>
            <div class="col-2 p-number">
                <input type="text" class="form-control garlic-auto-save" id="number" placeholder="" name="農業農村整備事業" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                <span class="text-danger" data-formrun-show-if-error="農業農村整備事業">未入力です</span>
            </div>
            <div class="col-1 p-year">件</div>
        </div>
        <div class="form-step-table-theme--1">
            <div class="c-lead mt-medium pb-small"> 参考実績を年度の新しいものから順に入力ください（最大20件） </div>
            <table class="form-table-theme--1">
                <thead class="has-background-thead">
                    <tr class="thead-form-table">
                        <th>発注者</th>
                        <th>施工年度</th>
                        <th>施工場所<br>（都道府県名）</th>
                        <th>件名</th>
                        <th>報文の<br>有無</th>
                    </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i < 3; i++) { %>
                    <tr>
                        <td>
                            <div class="col-12 u-col-p-none">
                                <input type="text" class="form-control form-control-danger garlic-auto-save" placeholder="例）株式会社◯◯◯◯◯◯" name="text1" value="">
                            </div>
                        </td>
                        <td>
                            <div class="col-12 u-construction u-col-p-none">
                                <input type="text" class="form-control garlic-auto-save form-control-danger" placeholder="2021" name="text1" value=""><span>年度</span>
                            </div>
                        </td>
                        <td>
                                <div class="table-select--icon"><select class="form-control is-empty table-select garlic-auto-save" name="select1">
                                        <option value="" selected="">選択</option>
                                        <option value="1">北海道</option>
                                        <option value="2">青森県</option>
                                        <option value="3">岩手県</option>
                                        <option value="4">宮城県</option>
                                        <option value="5">秋田県</option>
                                        <option value="6">山形県</option>
                                        <option value="7">福島県</option>
                                        <option value="8">茨城県</option>
                                        <option value="9">栃木県</option>
                                        <option value="10">群馬県</option>
                                        <option value="11">埼玉県</option>
                                        <option value="12">千葉県</option>
                                        <option value="13">東京都</option>
                                        <option value="14">神奈川県</option>
                                        <option value="15">新潟県</option>
                                        <option value="16">富山県</option>
                                        <option value="17">石川県</option>
                                        <option value="18">福井県</option>
                                        <option value="19">山梨県</option>
                                        <option value="20">長野県</option>
                                        <option value="21">岐阜県</option>
                                        <option value="22">静岡県</option>
                                        <option value="23">愛知県</option>
                                        <option value="24">三重県</option>
                                        <option value="25">滋賀県</option>
                                        <option value="26">京都府</option>
                                        <option value="27">大阪府</option>
                                        <option value="28">兵庫県</option>
                                        <option value="29">奈良県</option>
                                        <option value="30">和歌山県</option>
                                        <option value="31">鳥取県</option>
                                        <option value="32">島根県</option>
                                        <option value="33">岡山県</option>
                                        <option value="34">広島県</option>
                                        <option value="35">山口県</option>
                                        <option value="36">徳島県</option>
                                        <option value="37">香川県</option>
                                        <option value="38">愛媛県</option>
                                        <option value="39">高知県</option>
                                        <option value="40">福岡県</option>
                                        <option value="41">佐賀県</option>
                                        <option value="42">長崎県</option>
                                        <option value="43">熊本県</option>
                                        <option value="44">大分県</option>
                                        <option value="45">宮崎県</option>
                                        <option value="46">鹿児島県</option>
                                        <option value="47">沖縄県</option>
                                    </select>
                                </div>
                        </td>
                        <td>
                            <div class="col-12 u-col-p-none">
                                <input type="text" class="form-control form-control-danger garlic-auto-save" placeholder="例）〇〇〇〇〇〇工事" name="text1" value="">
                            </div>
                        </td>
                        <td>
                            <div class="input-group p-radio-group">
                                <div class="custom-control custom-radio custom-control-inline"><input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input garlic-auto-save"><label class="custom-control-label u-label-p-none" for="customRadioInline1">有</label></div>
                                <div class="custom-control custom-radio custom-control-inline"><input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input garlic-auto-save"><label class="custom-control-label" for="customRadioInline2">無</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <button class="btn-add genric-btn p-add-btn mt-small u-has-display-block"><i class="btn-ph-plus ph-plus"></i>さらに追加する</button>
        </div>
        <!--p-new-registration__iteme--number-->
        <div class="p-new-registration__iteme--number form-group d-flex align-items-center mt-small">
            <label for="number" class="col-3 col-form-label">その他事業</label>
            <span class="c-check u-has-display-block">必須</span>
            <div class="col-2 p-number">
                <input type="text" class="form-control garlic-auto-save" id="number" placeholder="" name="農業農村整備事業" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                <span class="text-danger" data-formrun-show-if-error="農業農村整備事業">未入力です</span>
            </div>
            <div class="col-1 p-year">件</div>
        </div>
        <div class="form-step-table-theme--1">
            <div class="c-lead mt-medium pb-small"> 参考実績を年度の新しいものから順に入力ください（最大20件） </div>
            <table class="form-table-theme--1">
                <thead class="has-background-thead">
                    <tr class="thead-form-table">
                        <th>発注者</th>
                        <th>施工年度</th>
                        <th>施工場所<br>（都道府県名）</th>
                        <th>件名</th>
                        <th>報文の<br>有無</th>
                    </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i < 2; i++) { %>
                    <tr>
                        <td>
                            <div class="col-12 u-col-p-none">
                                <input type="text" class="form-control form-control-danger garlic-auto-save" placeholder="例）株式会社◯◯◯◯◯◯" name="text2" value="福岡県飯塚県土整備事務所">
                            </div>
                        </td>
                        <td>
                            <div class="col-12 u-construction u-col-p-none">
                                <input type="text" class="form-control form-control-danger garlic-auto-save" placeholder="2021" name="text" value="2021"><span>年度</span>
                            </div>
                        </td>
                        <td>
                                <div class="table-select--icon">
                                    <select class="form-control table-select garlic-auto-save" name="select2">
                                        <option value="" selected="">選択</option>
                                        <option value="1">北海道</option>
                                        <option value="2">青森県</option>
                                        <option value="3">岩手県</option>
                                        <option value="4">宮城県</option>
                                        <option value="5">秋田県</option>
                                        <option value="6">山形県</option>
                                        <option value="7">福島県</option>
                                        <option value="8">茨城県</option>
                                        <option value="9">栃木県</option>
                                        <option value="10">群馬県</option>
                                        <option value="11">埼玉県</option>
                                        <option value="12">千葉県</option>
                                        <option value="13">東京都</option>
                                        <option value="14">神奈川県</option>
                                        <option value="15">新潟県</option>
                                        <option value="16">富山県</option>
                                        <option value="17">石川県</option>
                                        <option value="18">福井県</option>
                                        <option value="19">山梨県</option>
                                        <option value="20">長野県</option>
                                        <option value="21">岐阜県</option>
                                        <option value="22">静岡県</option>
                                        <option value="23">愛知県</option>
                                        <option value="24">三重県</option>
                                        <option value="25">滋賀県</option>
                                        <option value="26">京都府</option>
                                        <option value="27">大阪府</option>
                                        <option value="28">兵庫県</option>
                                        <option value="29">奈良県</option>
                                        <option value="30">和歌山県</option>
                                        <option value="31">鳥取県</option>
                                        <option value="32">島根県</option>
                                        <option value="33">岡山県</option>
                                        <option value="34">広島県</option>
                                        <option value="35">山口県</option>
                                        <option value="36">徳島県</option>
                                        <option value="37">香川県</option>
                                        <option value="38">愛媛県</option>
                                        <option value="39">高知県</option>
                                        <option value="40">福岡県</option>
                                        <option value="41">佐賀県</option>
                                        <option value="42">長崎県</option>
                                        <option value="43">熊本県</option>
                                        <option value="44">大分県</option>
                                        <option value="45">宮崎県</option>
                                        <option value="46">鹿児島県</option>
                                        <option value="47">沖縄県</option>
                                    </select>
                                </div>
                        </td>
                        <td>
                            <div class="col-12 u-col-p-none">
                                <input type="text" class="form-control form-control-danger garlic-auto-save" placeholder="例）〇〇〇〇〇〇工事" name="text2" value="遠賀川護岸工事">
                            </div>
                        </td>
                        <td>
                            <div class="input-group p-radio-group">
                                <div class="custom-control custom-radio custom-control-inline"><input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input garlic-auto-save"><label class="custom-control-label u-label-p-none" for="customRadioInline1">有</label></div>
                                <div class="custom-control custom-radio custom-control-inline"><input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input garlic-auto-save"><label class="custom-control-label" for="customRadioInline2">無</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <button class="btn-add genric-btn p-add-btn mt-small u-has-display-block"><i class="btn-ph-plus ph-plus"></i>さらに追加する</button>
        </div>
        <!--form-step-table-theme--1-->
        <div class="p-new-registration__iteme--number form-group d-flex align-items-center mt-small" border-deta="u-border-deta-bottom">
            <label class="col-3 col-form-label">採用実績合計</label>
            <div class="col-2 p-number">30件</div>
        </div>
        <!--p-new-registration__iteme--number-->
        <div class="mt-small">
            <div class="btns-group">
                <button type="submit" class="btn-prev c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block" data-formrun-default-text="戻る ">戻る </button>
                <button type="button" class="btn-next genric-btn p-genric-btn--primary mt-small u-has-display-block">次へ<i class="btn-ph-caret-right ph-caret-right"></i>
                </button>
            </div>
            <button type="submit" class="c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block">ここまでを保存する
            </button>
        </div>
    </div> <%# wrapper--1360 %>
</div> <%# form--step %>

<div class="form-step">
    <div class="c-subtitle has-background-secondary mt-small mb-small">
        <span class="c-subtitle u-has-inline-block">連絡先情報</span>
    </div>
    <div class="p-new-registration">
        <div class="p-new-registration__wrapper">
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext" class="form-control-label col-2 col-form-label">会社名</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <input type="text" class="form-control garlic-auto-save" id="inputtext" placeholder="例）◯◯◯◯◯◯◯工法" name="技術名称" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="技術名称">未入力です</span>
                </div>
            </div>

            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext1" class="form-control-label col-2 col-form-label">技術名称</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <input type="text" class="form-control garlic-auto-save" id="inputtext1" placeholder="例）◯◯◯◯◯◯◯工法" name="技術名称" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="技術名称">未入力です</span>
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext3" class="col-2 col-form-label">登録会社名</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <input type="text" class="form-control garlic-auto-save" id="inputtext3" placeholder="例）株式会社◯◯◯◯◯◯" name="登録会社名" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="登録会社名">未入力です</span>
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext4" class="col-2 col-form-label">開発会社名</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <input type="text" class="form-control garlic-auto-save" id="inputtext4" placeholder="例）株式会社◯◯◯◯◯◯" name="開発会社名" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="開発会社名">未入力です</span>
                </div>
            </div>
            <div class="p-new-registration__iteme--1 form-group d-flex align-items-center">
                <label for="inputtext5" class="col-2 col-form-label">技術の要約</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-9">
                    <input type="text" class="form-control garlic-auto-save" id="inputtext5" placeholder="例）老朽化による◯◯◯◯◯に◯◯◯◯◯を用いた◯◯◯◯◯工法。" name="技術の要約" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
                    <span class="text-danger" data-formrun-show-if-error="技術の要約">未入力です</span>
                </div>
            </div>
        </div>
        <div class="p-new-registration__wrapper">
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea1" class="col-sm-3 col-form-label">技術の要約</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--1" data-formrun-class-if-error="has-danger" data-formrun-target="技術の要約">
                        <textarea class="form-control garlic-auto-save" placeholder="例）老朽化による既設変状構造物の空隙・空洞・箇所に、現地にて配合したト－スイＣＯＮ（透水コンクリ－ト）を圧送充填することにより充填材がフィルタ－効果を発揮し背面水のみ排出し、土砂・捨石等の吸出し防止及び波圧時による水圧を低減させ洗掘抑制が可能になり、構造物の崩壊・沈下・倒壊を抑制します。" id="textarea1" name="お問い合わせ" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea> <span class="text-danger" data-formrun-show-if-error="お問い合わせ">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea2" class="col-sm-3 col-form-label">開発の趣旨・目的</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--2" data-formrun-class-if-error="has-danger" data-formrun-target="開発の趣旨・目的">
                        <textarea class="form-control garlic-auto-save" placeholder="例）従来の充填工では、セメント系充填材を使用し既設変状構造物の開口・空洞箇所を閉塞することで損傷箇所に接着効果をもたらし、水抜きパイプ等により背面水を排出して維持保全を保っていましたが、経年により目詰まりが発生しパイピング現象が見受けられた。また、石積み前面にもたれ式擁壁、ブロック積工新設などが施されおりましたが、過大な仮設工を要したり重機災害・騒音災害・交通規制などの問題が生じていました。本工法では施工箇所より200ｍ以内にプラント（2.0ｍ＊5.0ｍ）を設置し圧送ホ－ス延伸による人力作業の充填施工が出来るため、仮設工等が不要となり近隣住民への施工環境が軽減できます。" id="textarea2" name="お問い合わせ2" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea> <span class="text-danger" data-formrun-show-if-error="お問い合わせ2">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea3" class="col-sm-3 col-form-label">適用範囲（適用条件）</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--3" data-formrun-class-if-error="has-danger" data-formrun-target="適用範囲（適用条件）">
                        <textarea class="form-control garlic-auto-save" placeholder="1）摘要現場・海岸護岸、防波堤などの洗掘による石積み沈下。・河川護岸の既設構造物（ブロック積み・石積み）空隙、空洞箇所。・景観区域での石積み補修、補強。・道路、宅地等の既設構造物（ブロック積み・石積み）空隙、空洞箇所。・天然記念物（樹木）の環境保全。2）適用条件・気温５℃以下５℃以上での施工は避ける。・著しい腹み出し及び崩壊が予測される箇所。・流速３ｍ/秒以内は施工可能。上記以上の流速については、仮設工が必要。こちらにお問い合わせ内容を入力してください。" id="textarea3" name="お問い合わせ3" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea> <span class="text-danger" data-formrun-show-if-error="お問い合わせ3">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea4" class="col-sm-3 col-form-label">構造・材料諸元／製品仕様</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--4" data-formrun-class-if-error="has-danger" data-formrun-target="構造・材料諸元／製品仕様">
                        <textarea class="form-control garlic-auto-save" placeholder="【トースイＣＯＮ設計配合】・ポルトランドセメント（普通）３００ｋｇ・粗骨材（７号砕石）１，４５０ｋｇ・混和剤（透水コンクリ－ト凝固剤）３０ℓ・混和剤（水中不分離剤）２．５ｋｇ・混和剤（急結剤）２６ℓ" id="textarea4" name="お問い合わせ4" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea> <span class="text-danger" data-formrun-show-if-error="お問い合わせ4">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea5" class="col-sm-3 col-form-label">特徴（メリット）</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--5" data-formrun-class-if-error="has-danger" data-formrun-target="特徴（メリット）">
                        <textarea class="form-control garlic-auto-save" placeholder="・◯◯◯◯◯が可能です。・◯◯◯◯◯が保たれます。・◯◯◯◯◯が減少できます。" id="textarea5" name="お問い合わせ5" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea> <span class="text-danger" data-formrun-show-if-error="お問い合わせ5">内容を入力してください</span>
                    </div>
                </div>
            </div>
            <div class="p-new-registration__iteme--3 form-group d-flex">
                <label for="textarea6" class="col-sm-3 col-form-label">特徴（デメリット）</label>
                <span class="c-check u-has-display-block">必須</span>
                <div class="col-6">
                    <div class="form-group p-textarea--6" data-formrun-class-if-error="has-danger" data-formrun-target="特徴（デメリット）">
                        <textarea class="form-control garlic-auto-save" placeholder="・◯◯◯◯◯が可能です。・◯◯◯◯◯が保たれます。・◯◯◯◯◯が減少できます。" id="textarea6" name="お問い合わせ6" value="" data-formrun-required="" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea> <span class="text-danger" data-formrun-show-if-error="お問い合わせ6">内容を入力してください</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-lead mt-small">
            <button type="submit" class="btn-next genric-btn p-genric-btn--primary mt-small u-has-display-block" data-formrun-default-text="次へ
            ">次へ<i class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
        <div class="c-lead mt-small">
            <button type="submit" disabled="" class="js-button c-genric-btn p-genric-btn--secondary u-default-border mt-small u-has-display-block" data-formrun-default-text="ここまでを保存する ">ここまでを保存する </button>
        </div>
    </div>
</div>

        <div class="input-group p-radio-group">
        <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">有</label>
        </div>
    <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">無</label>
        </div>
        </div>

        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
            <button type="button" class="btn-next genric-btn p-genric-btn--primary mt-small u-has-display-block">次へ<i class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
      </div>

      <div class="form-step">
        <div class="input-group">
          <label for="dob">Date of Birth</label>
          <input type="date" name="dob" id="dob" />
        </div>
        <div class="input-group">
          <label for="ID">National ID</label>
          <input type="number" name="ID" id="ID" />
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
            <button type="button" class="btn-next genric-btn p-genric-btn--primary mt-small u-has-display-block"
        >次へ<i class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <label for="password">Passwordaaaaaaaa</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
          />
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
            <button type="submit" class="btn-next genric-btn p-genric-btn--primary mt-small u-has-display-block"
                onclick="location.href='#'">次へ<i class="btn-ph-caret-right ph-caret-right"></i>
            </button>
        </div>
      </div>
    </form>